<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.logis.mapper.BasDocMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.logis.domain.BasDoc">
    <id column="DocID" jdbcType="INTEGER" property="docid" />
    <result column="DocName" jdbcType="VARCHAR" property="docname" />
    <result column="RelativePath" jdbcType="VARCHAR" property="relativepath" />
    <result column="AttachToType" jdbcType="VARCHAR" property="attachtotype" />
    <result column="RelatedID" jdbcType="INTEGER" property="relatedid" />
    <result column="DocType" jdbcType="VARCHAR" property="doctype" />
  </resultMap>
  <sql id="selectBasDocVo">
    select DocID, DocName, RelativePath, AttachToType, RelatedID, DocType
    from BAS_Doc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select DocID, DocName, RelativePath, AttachToType, RelatedID, DocType
    from BAS_Doc
    where DocID = #{docid,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <include refid="selectBasDocVo"/>
  </select>

  <select id="selectByIds" parameterType="List" resultMap="BaseResultMap">
    <include refid="selectBasDocVo"/>
    WHERE 1=1 and DocID  in
    <foreach  item ="item" index="index"  collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
    ORDER BY DocID
  </select>

  <insert id="insert" parameterType="com.ruoyi.logis.domain.BasDoc" useGeneratedKeys="true" keyProperty="docid" keyColumn="DocID">
    insert into BAS_Doc (DocName, RelativePath, AttachToType, RelatedID, DocType)
    values ( #{docname,jdbcType=VARCHAR}, #{relativepath,jdbcType=VARCHAR},
            #{attachtotype,jdbcType=VARCHAR}, #{relatedid,jdbcType=INTEGER}, #{doctype,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.ruoyi.logis.domain.BasDoc">
    update BAS_Doc
    set DocName = #{docname,jdbcType=VARCHAR},
      RelativePath = #{relativepath,jdbcType=VARCHAR},
      AttachToType = #{attachtotype,jdbcType=VARCHAR},
      RelatedID = #{relatedid,jdbcType=INTEGER},
      DocType = #{doctype,jdbcType=VARCHAR}
    where DocID = #{docid,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from BAS_Doc
    where DocID = #{docid,jdbcType=INTEGER}
  </delete>

</mapper>