<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysUserMenuMapper">

	<resultMap id="BaseResultMap" type="com.ruoyi.system.mapper.SysUserMenu" >
		<result property="userId" jdbcType="BIGINT"    column="user_id"      />
		<result property="roleId" jdbcType="BIGINT"    column="role_id"      />
		<result column="role_name" jdbcType="VARCHAR" property="roleName" />
		<result column="role_key" jdbcType="VARCHAR" property="roleKey" />
		<result column="menu_id" jdbcType="BIGINT" property="menuId" />
		<result column="menu_name" jdbcType="VARCHAR" property="menuName" />
		<result column="parent_id" jdbcType="BIGINT" property="parentId" />
		<result column="order_num" jdbcType="INTEGER" property="orderNum" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="component" jdbcType="VARCHAR" property="component" />
		<result column="is_frame" jdbcType="INTEGER" property="isFrame" />
		<result column="is_cache" jdbcType="INTEGER" property="isCache" />
		<result column="menu_type" jdbcType="CHAR" property="menuType" />
		<result column="visible" jdbcType="CHAR" property="visible" />
		<result column="status" jdbcType="CHAR" property="status" />
		<result column="perms" jdbcType="VARCHAR" property="perms" />
		<result column="icon" jdbcType="VARCHAR" property="icon" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="remark" jdbcType="VARCHAR" property="remark" />
	</resultMap>

	<select id="selectUserMenuList" parameterType="com.ruoyi.system.mapper.SysUserMenu" resultMap="BaseResultMap">
		SELECT
			c.user_id,c.role_id,d.role_name, d.role_key,
			a.menu_id
			 ,a.menu_name
			 ,a.parent_id
			 ,a.order_num
			 ,a.path
			 ,a.component
			 ,a.is_frame
			 ,a.is_cache
			 ,a.menu_type
			 ,a.visible
			 ,a.status
			 ,a.perms
			 ,a.icon
			 ,a.create_by
			 ,a.create_time
			 ,a.update_by
			 ,a.update_time
			 ,a.remark
		FROM sys_menu a join sys_role_menu b on a.menu_id = b.menu_id join sys_user_role c on b.role_id = c.role_id
						join sys_role d on c.role_id = d.role_id
		where 0 = 0 and a.status = 1
		<if test="userId != null and userId != 0 ">
			and user_id = #{userId, jdbcType="BIGINT"}
		</if>
		<if test="roleName != null and roleName != '' ">
			and role_name like concat('%', #{roleName,jdbcType=VARCHAR}, '%')
		</if>
		<if test="perms != null and perms != '' ">
			and perms like concat('%', #{perms,jdbcType=VARCHAR}, '%')
		</if>

	</select>

</mapper> 