<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerConfirmqequestMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerConfirmqequest">
    <id column="RequestID" jdbcType="INTEGER" property="requestid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="ConfirmUserID" jdbcType="INTEGER" property="confirmuserid" />
    <result column="ConfirmTime" jdbcType="VARCHAR" property="confirmtime" />
  </resultMap>

  <select id="selectPerConfirmRequest" resultMap="BaseResultMap">
    select RequestID, TeamID, Year, Status, ConfirmUserID, ConfirmTime
    from PER_ConfirmQequest a
    where 0=0
    <if test="teamid != null ">
      and a.teamid = #{teamid,jdbcType=INTEGER}
    </if>
    <if test="year != null ">
      and a.year = #{year,jdbcType=INTEGER}
    </if>
  </select>

  <insert id="insertPerConfirmqequest" parameterType="com.ruoyi.performance.domain.PerConfirmqequest"  useGeneratedKeys="true"
          keyProperty="requestid" >
    insert into PER_ConfirmQequest ( TeamID, Year,
                                    Status, ConfirmUserID, ConfirmTime
    )
    values ( #{teamid,jdbcType=INTEGER}, #{year,jdbcType=INTEGER},
            #{status,jdbcType=VARCHAR}, #{confirmuserid,jdbcType=INTEGER}, #{confirmtime,jdbcType=VARCHAR}
           )
  </insert>
  <update id="updatePerConfirmqequest" parameterType="com.ruoyi.performance.domain.PerConfirmqequest">
    update PER_ConfirmQequest
    set TeamID = #{teamid,jdbcType=INTEGER},
    Year = #{year,jdbcType=INTEGER},
    Status = #{status,jdbcType=VARCHAR},
    ConfirmUserID = #{confirmuserid,jdbcType=INTEGER},
    ConfirmTime = #{confirmtime,jdbcType=VARCHAR}
    where RequestID = #{requestid,jdbcType=INTEGER}
  </update>

  <update id="updatePerConfirmqequestByTeamYear" parameterType="com.ruoyi.performance.domain.PerConfirmqequest">
    update PER_ConfirmQequest
    set Status = #{status,jdbcType=VARCHAR},
        ConfirmUserID = #{confirmuserid,jdbcType=INTEGER},
        ConfirmTime = #{confirmtime,jdbcType=VARCHAR}
    where TeamID = #{teamid,jdbcType=INTEGER} and Year = #{year,jdbcType=INTEGER}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 09:32:30 CST 2021.
    -->
    delete from PER_ConfirmQequest
    where RequestID = #{requestid,jdbcType=INTEGER}
  </delete>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 09:32:30 CST 2021.
    -->
    select RequestID, TeamID, Year, Status, ConfirmUserID, ConfirmTime
    from PER_ConfirmQequest
    where RequestID = #{requestid,jdbcType=INTEGER}
  </select>

</mapper>