<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerFundMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerFund">
    <id column="FundID" jdbcType="INTEGER" property="fundid" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="Fund" jdbcType="DECIMAL" property="fund" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="teamid" jdbcType="INTEGER" property="teamid" />
  </resultMap>
  <insert id="insertPerFund" parameterType="com.ruoyi.performance.domain.PerFund"  useGeneratedKeys="true"
          keyProperty="fundid">
    insert into PER_Fund ( ProjectID, Year,
                          Fund, Status)
    values (#{projectid,jdbcType=INTEGER}, #{year,jdbcType=INTEGER},
            #{fund,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updatePerFund" parameterType="com.ruoyi.performance.domain.PerFund">
    update PER_Fund
    set ProjectID = #{projectid,jdbcType=INTEGER},
    Year = #{year,jdbcType=INTEGER},
    Fund = #{fund,jdbcType=DECIMAL},
    Status = #{status,jdbcType=VARCHAR}
    where FundID = #{fundid,jdbcType=INTEGER}
  </update>

  <update id="updatePerFundDeletedById" parameterType="com.ruoyi.performance.domain.PerFund">
    update PER_Fund
    set
      IfDeleted = 1
    where FundID = #{fundid,jdbcType=INTEGER}
  </update>

  <update id="updatePerFundFundById" parameterType="com.ruoyi.performance.domain.PerFund">
    update PER_Fund
    set
      Fund = #{fund,jdbcType=DECIMAL}
    where FundID = #{fundid,jdbcType=INTEGER}
  </update>

  <update id="updatePerFundStatusById" parameterType="com.ruoyi.performance.domain.PerFund">
    update PER_Fund
    set
      Status = '已确认'
    where FundID = #{fundid,jdbcType=INTEGER}
  </update>

  <select id="selectPerFund" parameterType="com.ruoyi.performance.domain.PerFund" resultMap="BaseResultMap">
    select FundID, ProjectID, Year, Fund, Status
    from PER_Fund
    where ProjectID = #{projectid,jdbcType=INTEGER} and Year = #{year,jdbcType=INTEGER}
  </select>

  <select id="selectPerFundById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select FundID, ProjectID, Year, Fund, Status
    from PER_Fund
    where FundID = #{fundid,jdbcType=INTEGER}
  </select>

  <select id="selectCaculateTotalNationalByTeamidYear" parameterType="com.ruoyi.performance.domain.PerFund" resultType="java.math.BigDecimal">
    select coalesce(sum(a.Fund),0)
    from PER_Fund a join Aud_Project b on  b.ProjectID = a.ProjectID
    where a.Year = #{year,jdbcType=INTEGER} and b.TeamID = #{teamid,jdbcType=INTEGER}
      and a.Status = '已确认'and b.ProjectType in (select NationalProject from PER_NationalProject)
  </select>

  <select id="selectCaculateTotalOtherByTeamidYear" parameterType="com.ruoyi.performance.domain.PerFund" resultType="java.math.BigDecimal">
    select coalesce(sum(a.Fund),0)
    from PER_Fund a join Aud_Project b on  b.ProjectID = a.ProjectID
    where a.Year = #{year,jdbcType=INTEGER} and b.TeamID = #{teamid,jdbcType=INTEGER}
      and a.Status = '已确认'and b.ProjectType not in (select NationalProject from PER_NationalProject)
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 10:01:01 CST 2021.
    -->
    delete from PER_Fund
    where FundID = #{fundid,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.ruoyi.performance.domain.PerFund">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 10:01:01 CST 2021.
    -->
    update PER_Fund
    set ProjectID = #{projectid,jdbcType=INTEGER},
      Year = #{year,jdbcType=INTEGER},
      Fund = #{fund,jdbcType=DECIMAL},
      Status = #{status,jdbcType=VARCHAR}
    where FundID = #{fundid,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Mar 25 10:01:01 CST 2021.
    -->
    select FundID, ProjectID, Year, Fund, Status
    from PER_Fund
  </select>
</mapper>