<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerIndicatorprojectMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerIndicatorproject">
    <id column="IndicatorProjectID" jdbcType="INTEGER" property="indicatorprojectid" />
    <result column="ProjectType" jdbcType="INTEGER" property="projecttype" />
    <result column="JoinType" jdbcType="VARCHAR" property="jointype" />
    <result column="Points" jdbcType="DECIMAL" property="points" />
    <result column="IfDeleted" jdbcType="BIT" property="ifdeleted" />
    <result column="projecttypelinktext" jdbcType="VARCHAR" property="projecttypelinktext" />
  </resultMap>

  <select id="selectIndicatorproject" parameterType="com.ruoyi.performance.domain.PerIndicatorproject" resultMap="BaseResultMap">
    select a.*  ,t1.dict_label as ProjectTypeLinkText
    from PER_IndicatorProject a  left join (select * from sys_dict_data where dict_type='项目类型') t1
    on a.ProjectType = t1.dict_value
    where a.IfDeleted = 0
    <if test="projecttypelinktext != null ">
      and t1.dict_label like concat('%', #{projecttypelinktext}, '%')
    </if>
    order by ProjectTypeLinkText;

  </select>

  <select id="selectIndicatorprojectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*  ,t1.dict_label as ProjectTypeLinkText
    from PER_IndicatorProject a  left join (select * from sys_dict_data where dict_type='项目类型') t1
    on  a.ProjectType = t1.dict_value
    where a.IfDeleted = 0
    and a.IndicatorProjectID = #{indicatorprojectid,jdbcType=INTEGER}
  </select>
  <insert id="insertIndicatorproject" parameterType="com.ruoyi.performance.domain.PerIndicatorproject" useGeneratedKeys="true"
          keyProperty="indicatorprojectid" >
    insert into PER_IndicatorProject ( ProjectType, JoinType, Points, IfDeleted )
    values (#{projecttype,jdbcType=INTEGER},
            #{jointype,jdbcType=VARCHAR}, #{points,jdbcType=DECIMAL}, #{ifdeleted,jdbcType=BIT}
           )
  </insert>

  <update id="updateIndicatorprojectIfDeletedById" parameterType="java.lang.Integer">
    update  PER_IndicatorProject set IfDeleted = 1
    where IndicatorProjectID = #{indicatorprojectid,jdbcType=INTEGER}
  </update>



  <update id="updateIndicatorproject" parameterType="com.ruoyi.performance.domain.PerIndicatorproject">
    update PER_IndicatorProject
    set ProjectType = #{projecttype,jdbcType=INTEGER},
      JoinType = #{jointype,jdbcType=VARCHAR},
      Points = #{points,jdbcType=DECIMAL}
    where IndicatorProjectID = #{indicatorprojectid,jdbcType=INTEGER}
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:34:55 CST 2021.
    -->
    select IndicatorProjectID, ProjectType, JoinType, Points, IfDeleted
    from PER_IndicatorProject
    where IndicatorProjectID = #{indicatorprojectid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:34:55 CST 2021.
    -->
    select IndicatorProjectID, ProjectType, JoinType, Points, IfDeleted
    from PER_IndicatorProject
  </select>
</mapper>