<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerIndicatorprizeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerIndicatorprize">
    <id column="IndicatorPrizeID" jdbcType="INTEGER" property="indicatorprizeid" />
    <result column="PrizeType" jdbcType="INTEGER" property="prizetype" />
    <result column="PrizeLevel" jdbcType="INTEGER" property="prizelevel" />
    <result column="PrizeRank" jdbcType="INTEGER" property="prizerank" />
    <result column="Points" jdbcType="DECIMAL" property="points" />
    <result column="IfDeleted" jdbcType="BIT" property="ifdeleted" />
    <result column="prizetypelinktext" jdbcType="VARCHAR" property="prizetypelinktext" />
    <result column="prizelevellinktext" jdbcType="VARCHAR" property="prizelevellinktext" />
    <result column="prizeranklinktext" jdbcType="VARCHAR" property="prizeranklinktext" />
  </resultMap>
  <select id="selectPerIndicatorprize" parameterType="com.ruoyi.performance.domain.PerIndicatorprize" resultMap="BaseResultMap">

    select a.*  ,t1.dict_label as PrizeTypeLinkText,t2.dict_label as PrizeLevelLinkText,t3.dict_label as PrizeRankLinkText
    from PER_IndicatorPrize a  left join (select * from sys_dict_data where dict_type='获奖类型') t1   on a.PrizeType = t1.dict_value
                               left join (select * from sys_dict_data where dict_type='获奖级别') t2   on a.PrizeLevel = t2.dict_value
                               left join (select * from sys_dict_data where dict_type='获奖等级') t3   on a.PrizeRank = t3.dict_value

    where  a.IfDeleted = 0
    <if test="prizetypelinktext != null ">
      and t1.dict_label like concat('%', #{prizetypelinktext}, '%')
    </if>
    <if test="prizelevellinktext != null ">
      and t2.dict_label like concat('%', #{prizelevellinktext}, '%')
    </if>
    <if test="prizeranklinktext != null ">
      and t3.dict_label like concat('%', #{prizeranklinktext}, '%')
    </if>

  </select>

  <select id="selectPerIndicatorprizeById" parameterType="com.ruoyi.performance.domain.PerIndicatorprize" resultMap="BaseResultMap">

    select a.*  ,t1.dict_label as PrizeTypeLinkText,t2.dict_label as PrizeLevelLinkText,t3.dict_label as PrizeRankLinkText
    from PER_IndicatorPrize a  left join (select * from sys_dict_data where dict_type='获奖类型') t1   on a.PrizeType = t1.dict_value
    left join (select * from sys_dict_data where dict_type='获奖级别') t2   on a.PrizeLevel = t2.dict_value
    left join (select * from sys_dict_data where dict_type='获奖等级') t3   on a.PrizeRank = t3.dict_value
    where  a.IfDeleted = 0
    and  a.IndicatorPrizeID = #{indicatorprizeid,jdbcType=INTEGER}

  </select>

  <insert id="insertPerIndicatorprize" parameterType="com.ruoyi.performance.domain.PerIndicatorprize" useGeneratedKeys="true"
          keyProperty="indicatorprizeid">
    insert into PER_IndicatorPrize ( PrizeType, PrizeLevel,
    PrizeRank, Points, IfDeleted
    )
    values ( #{prizetype,jdbcType=INTEGER}, #{prizelevel,jdbcType=INTEGER},
    #{prizerank,jdbcType=INTEGER}, #{points,jdbcType=DECIMAL}, #{ifdeleted,jdbcType=BIT}
    )
  </insert>

  <update id="updatePerIndicatorprize" parameterType="com.ruoyi.performance.domain.PerIndicatorprize">
    update PER_IndicatorPrize
    set PrizeType = #{prizetype,jdbcType=INTEGER},
        PrizeLevel = #{prizelevel,jdbcType=INTEGER},
        PrizeRank = #{prizerank,jdbcType=INTEGER},
        Points = #{points,jdbcType=DECIMAL}
    where IndicatorPrizeID = #{indicatorprizeid,jdbcType=INTEGER}
  </update>

  <update id="updatePerIndicatorprizeIfDeleted" parameterType="com.ruoyi.performance.domain.PerIndicatorprize">
    update PER_IndicatorPrize
    set   IfDeleted = 1
    where IndicatorPrizeID = #{indicatorprizeid,jdbcType=INTEGER}
  </update>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 14 07:52:10 CST 2021.
    -->
    delete from PER_IndicatorPrize
    where IndicatorPrizeID = #{indicatorprizeid,jdbcType=INTEGER}
  </delete>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 14 07:52:10 CST 2021.
    -->
    select IndicatorPrizeID, PrizeType, PrizeLevel, PrizeRank, Points, IfDeleted
    from PER_IndicatorPrize
    where IndicatorPrizeID = #{indicatorprizeid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Mar 14 07:52:10 CST 2021.
    -->
    select IndicatorPrizeID, PrizeType, PrizeLevel, PrizeRank, Points, IfDeleted
    from PER_IndicatorPrize
  </select>
</mapper>