<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerIndicatorMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerIndicator">
    <id column="IndicatorID" jdbcType="INTEGER" property="indicatorid" />
    <result column="IndicatorType" jdbcType="VARCHAR" property="indicatortype" />
    <result column="IndicatorName" jdbcType="VARCHAR" property="indicatorname" />
    <result column="IndicatorLevel" jdbcType="INTEGER" property="indicatorlevel" />
    <result column="Level1ID" jdbcType="INTEGER" property="level1id" />
    <result column="Level2ID" jdbcType="INTEGER" property="level2id" />
    <result column="Score" jdbcType="VARCHAR" property="score" />
    <result column="OrderNumber" jdbcType="INTEGER" property="ordernumber" />
    <result column="IfDisplay" jdbcType="BIT" property="ifdisplay" />
    <result column="IfSelfApply" jdbcType="BIT" property="ifselfapply" />
    <result column="IfDeleted" jdbcType="BIT" property="ifdeleted" />
    <result column="Level1Name" jdbcType="VARCHAR" property="level1name" />
    <result column="Level2Name" jdbcType="VARCHAR" property="level2name" />
    <result column="childcount" jdbcType="INTEGER" property="childcount" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />

  </resultMap>

  <select id="selectPerIndicator" resultMap="BaseResultMap">
    select a.*, b.IndicatorName as Level1Name,c.IndicatorName as Level2Name from PER_Indicator a left join PER_Indicator b on a.Level1ID=b.IndicatorID left join PER_Indicator c on a.Level1ID=c.IndicatorID
    where a.IfDeleted =0
    <if test="indicatorlevel != null ">
      and a.IndicatorLevel = #{indicatorlevel,jdbcType=INTEGER}
    </if>
    <if test="indicatortype != null ">
      and a.indicatortype = #{indicatortype,jdbcType=VARCHAR}
    </if>
    <if test="level1id != null ">
      and a.level1id = #{level1id,jdbcType=INTEGER}
    </if>
    <if test="level2id != null ">
      and a.level2id = #{level2id,jdbcType=INTEGER}
    </if>

    <if test="ifselfapply != null ">
      and a.ifselfapply = #{ifdisplay,jdbcType=BIT}
    </if>

    <if test="level2id != null ">
       order by OrderNumber
    </if>

    <if test="level2id == null ">
      order by IndicatorName
    </if>

  </select>

  <select id="selectPerIndicatorTree"  resultMap="BaseResultMap">
    with cte as
           (
             select IndicatorID,IndicatorLevel, IndicatorType,  IndicatorName, OrderNumber,Score,IfSelfApply,IfDisplay, parentid
             from (select a.* ,(case a.IndicatorLevel when 2 then a.Level1ID when 3 then a.Level2ID else null end ) as  parentid from PER_Indicator a where  a.IfDeleted = 0 ) v  where parentid is null
             union all
             select  a.IndicatorID,a.IndicatorLevel, a.IndicatorType, a.IndicatorName,a.OrderNumber, a.Score, a.IfSelfApply, a.IfDisplay, a.parentid
             from  (select a.* ,(case a.IndicatorLevel when 2 then a.Level1ID when 3 then a.Level2ID else null end ) as  parentid from PER_Indicator a  where  a.IfDeleted = 0 ) a join cte b on a.parentid = b.IndicatorID
           )
    select *  from cte order by IndicatorType, parentid asc
  </select>

  <insert id="insertPerIndicator" parameterType="com.ruoyi.performance.domain.PerIndicator">
    insert into PER_Indicator (IndicatorID, IndicatorType, IndicatorName,
                               IndicatorLevel, Level1ID, Level2ID,
                               Score, OrderNumber, IfDisplay,
                               IfSelfApply, IfDeleted)
    values (#{indicatorid,jdbcType=INTEGER}, #{indicatortype,jdbcType=VARCHAR}, #{indicatorname,jdbcType=VARCHAR},
            #{indicatorlevel,jdbcType=INTEGER}, #{level1id,jdbcType=INTEGER}, #{level2id,jdbcType=INTEGER},
            #{score,jdbcType=VARCHAR}, #{ordernumber,jdbcType=INTEGER}, #{ifdisplay,jdbcType=BIT},
            #{ifselfapply,jdbcType=BIT}, #{ifdeleted,jdbcType=BIT})
  </insert>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:31:30 CST 2021.
    -->
    delete from PER_Indicator
    where IndicatorID = #{indicatorid,jdbcType=INTEGER}
  </delete>


  <update id="updateByPrimaryKey" parameterType="com.ruoyi.performance.domain.PerIndicator">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:31:30 CST 2021.
    -->
    update PER_Indicator
    set IndicatorType = #{indicatortype,jdbcType=VARCHAR},
      IndicatorName = #{indicatorname,jdbcType=VARCHAR},
      IndicatorLevel = #{indicatorlevel,jdbcType=INTEGER},
      Level1ID = #{level1id,jdbcType=INTEGER},
      Level2ID = #{level2id,jdbcType=INTEGER},
      Score = #{score,jdbcType=VARCHAR},
      OrderNumber = #{ordernumber,jdbcType=INTEGER},
      IfDisplay = #{ifdisplay,jdbcType=BIT},
      IfSelfApply = #{ifselfapply,jdbcType=BIT},
      IfDeleted = #{ifdeleted,jdbcType=BIT}
    where IndicatorID = #{indicatorid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:31:30 CST 2021.
    -->
    select IndicatorID, IndicatorType, IndicatorName, IndicatorLevel, Level1ID, Level2ID, 
    Score, OrderNumber, IfDisplay, IfSelfApply, IfDeleted
    from PER_Indicator
    where IndicatorID = #{indicatorid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:31:30 CST 2021.
    -->
    select IndicatorID, IndicatorType, IndicatorName, IndicatorLevel, Level1ID, Level2ID, 
    Score, OrderNumber, IfDisplay, IfSelfApply, IfDeleted
    from PER_Indicator
  </select>
</mapper>