<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerIncomeMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerIncome">
    <id column="IncomeID" jdbcType="INTEGER" property="incomeid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="ProjectName" jdbcType="VARCHAR" property="projectname" />
    <result column="ProjectCode" jdbcType="VARCHAR" property="projectcode" />
    <result column="ManagerID" jdbcType="INTEGER" property="managerid" />
    <result column="Period" jdbcType="VARCHAR" property="period" />
    <result column="ContractMoney" jdbcType="DECIMAL" property="contractmoney" />
    <result column="ThisYearMoney" jdbcType="DECIMAL" property="thisyearmoney" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="TeamIDLinkText" jdbcType="VARCHAR" property="teamidlinktext" />
    <result column="ManagerIDLinkText" jdbcType="VARCHAR" property="manageridlinktext" />
  </resultMap>

  <select id="selectPerIncome" parameterType="com.ruoyi.performance.domain.PerIncome" resultMap="BaseResultMap">
    select a.*  ,t1.TeamName as TeamIDLinkText  ,t4.real_name as ManagerIDLinkText
    from PER_Income a  join PM_Team t1 on a.TeamID  = t1.TeamID
                       join sys_user t4  on   a.ManagerID   = t4.user_id
    where a.status != '已删除'
    <if test="year != null ">
      and a.year = #{year,jdbcType=INTEGER}
    </if>
    <if test="teamid != null ">
      and a.teamID = #{teamid,jdbcType=INTEGER}
    </if>
    <if test="type != null ">
      and a.type = #{type,jdbcType=VARCHAR}
    </if>
    <if test="status != null ">
      and a.status = #{type,jdbcType=VARCHAR,jdbcType=INTEGER}
    </if>
    order by TeamIDLinkText,a.ProjectName
  </select>


  <select id="selectPerIncomeById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.*  ,t1.TeamName as TeamIDLinkText  ,t4.real_name as ManagerIDLinkText
    from PER_Income a  join PM_Team t1 on a.TeamID  = t1.TeamID
    join sys_user t4  on   a.ManagerID   = t4.user_id
    where a.IncomeID = #{incomeid,jdbcType=INTEGER}
  </select>


  <select id="selectPerIncomeCaculateTotal" parameterType="com.ruoyi.performance.domain.PerIncome" resultType="java.math.BigDecimal">
    select  coalesce(sum(ThisYearMoney),0)
    from PER_Income a
    where a.status = '已确认'
    <if test="year != null ">
      and a.year = #{year,jdbcType=INTEGER}
    </if>
    <if test="teamid != null ">
      and a.teamID = #{teamid,jdbcType=INTEGER}
    </if>
    <if test="type != null ">
      and a.type = #{type,jdbcType=VARCHAR}
    </if>
  </select>

  <insert id="insertPerIncome" parameterType="com.ruoyi.performance.domain.PerIncome"  useGeneratedKeys="true"
          keyProperty="incomeid">
    insert into PER_Income (TeamID, Year,
                            ProjectName, ProjectCode, ManagerID,
                            Period, ContractMoney, ThisYearMoney,
                            Type, Status)
    values (#{teamid,jdbcType=INTEGER}, #{year,jdbcType=INTEGER},
            #{projectname,jdbcType=VARCHAR}, #{projectcode,jdbcType=VARCHAR}, #{managerid,jdbcType=INTEGER},
            #{period,jdbcType=VARCHAR}, #{contractmoney,jdbcType=DECIMAL}, #{thisyearmoney,jdbcType=DECIMAL},
            #{type,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>

  <update id="updatePerIncome" parameterType="com.ruoyi.performance.domain.PerIncome">
    update PER_Income
    set TeamID = #{teamid,jdbcType=INTEGER},
        Year = #{year,jdbcType=INTEGER},
        ProjectName = #{projectname,jdbcType=VARCHAR},
        ProjectCode = #{projectcode,jdbcType=VARCHAR},
        ManagerID = #{managerid,jdbcType=INTEGER},
        Period = #{period,jdbcType=VARCHAR},
        ContractMoney = #{contractmoney,jdbcType=DECIMAL},
        ThisYearMoney = #{thisyearmoney,jdbcType=DECIMAL},
        Type = #{type,jdbcType=VARCHAR}
    where IncomeID = #{incomeid,jdbcType=INTEGER}
  </update>

  <delete id="updatePerIncomeConfirmById" parameterType="java.lang.Integer">
    update  PER_Income
    set status = '已确认'
    where IncomeID = #{incomeid,jdbcType=INTEGER}
  </delete>

  <delete id="updatePerIncomeDeletedById" parameterType="java.lang.Integer">
    update  PER_Income
    set status = '已删除'
    where IncomeID = #{incomeid,jdbcType=INTEGER}
  </delete>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Mar 26 15:12:59 CST 2021.
    -->
    delete from PER_Income
    where IncomeID = #{incomeid,jdbcType=INTEGER}
  </delete>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Mar 26 15:12:59 CST 2021.
    -->
    select IncomeID, TeamID, Year, ProjectName, ProjectCode, ManagerID, Period, ContractMoney, 
    ThisYearMoney, Type, Status
    from PER_Income
    where IncomeID = #{incomeid,jdbcType=INTEGER}
  </select>

</mapper>