<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerScoreschangelogMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerScoreschangelog">
    <id column="LogID" jdbcType="INTEGER" property="logid" />
    <result column="PerformanceID" jdbcType="INTEGER" property="performanceid" />
    <result column="OldScores" jdbcType="DECIMAL" property="oldscores" />
    <result column="NewScores" jdbcType="DECIMAL" property="newscores" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Reason" jdbcType="VARCHAR" property="reason" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="Time" jdbcType="VARCHAR" property="time" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
  </resultMap>

  <select id="selectPerScoreschangelog" parameterType="com.ruoyi.performance.domain.PerScoreschangelog"  resultMap="BaseResultMap">
    select a.*,b.real_name as RealName
    from PER_ScoresChangeLog a left join sys_user b on a.UserID = b.user_id
    where a.performanceid = #{performanceid,jdbcType=INTEGER}
    order by a.LogID
  </select>

  <insert id="insertPerScoreschangelog" parameterType="com.ruoyi.performance.domain.PerScoreschangelog"  useGeneratedKeys="true"
          keyProperty="logid">
    insert into PER_ScoresChangeLog (PerformanceID, OldScores,
                                     NewScores, Description, Reason,
                                     UserID, Time)
    values (#{performanceid,jdbcType=INTEGER}, #{oldscores,jdbcType=DECIMAL},
            #{newscores,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR},
            #{userid,jdbcType=INTEGER}, #{time,jdbcType=VARCHAR})
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 13:30:21 CST 2021.
    -->
    delete from PER_ScoresChangeLog
    where LogID = #{logid,jdbcType=INTEGER}
  </delete>

  <update id="updateByPrimaryKey" parameterType="com.ruoyi.performance.domain.PerScoreschangelog">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 13:30:21 CST 2021.
    -->
    update PER_ScoresChangeLog
    set PerformanceID = #{performanceid,jdbcType=INTEGER},
      OldScores = #{oldscores,jdbcType=DECIMAL},
      NewScores = #{newscores,jdbcType=DECIMAL},
      Description = #{description,jdbcType=VARCHAR},
      Reason = #{reason,jdbcType=VARCHAR},
      UserID = #{userid,jdbcType=INTEGER},
      Time = #{time,jdbcType=VARCHAR}
    where LogID = #{logid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 13:30:21 CST 2021.
    -->
    select LogID, PerformanceID, OldScores, NewScores, Description, Reason, UserID, Time
    from PER_ScoresChangeLog
    where LogID = #{logid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Mar 16 13:30:21 CST 2021.
    -->
    select LogID, PerformanceID, OldScores, NewScores, Description, Reason, UserID, Time
    from PER_ScoresChangeLog
  </select>
</mapper>