<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.performance.mapper.PerTeamperformanceMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.performance.domain.PerTeamperformance">
    <id column="PerformanceID" jdbcType="INTEGER" property="performanceid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="PerformanceYear" jdbcType="INTEGER" property="performanceyear" />
    <result column="IndicatorType" jdbcType="VARCHAR" property="indicatortype" />
    <result column="IndicatorID" jdbcType="INTEGER" property="indicatorid" />
    <result column="AchieveID" jdbcType="INTEGER" property="achieveid" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="BasePoints" jdbcType="DECIMAL" property="basepoints" />
    <result column="AuthorUserID" jdbcType="INTEGER" property="authoruserid" />
    <result column="AuthorOrder" jdbcType="INTEGER" property="authororder" />
    <result column="Points" jdbcType="DECIMAL" property="points" />
    <result column="Level1ID" jdbcType="INTEGER" property="level1id" />
    <result column="Level1Name" jdbcType="VARCHAR" property="level1name" />
    <result column="Level2ID" jdbcType="INTEGER" property="level2id" />
    <result column="Level2Name" jdbcType="VARCHAR" property="level2name" />
    <result column="Status" jdbcType="VARCHAR" property="status" />
    <result column="TeamIDLinkText" jdbcType="VARCHAR" property="teamidlinktext"/>
    <result column="logCount" jdbcType="INTEGER" property="logcount" />
  </resultMap>

  <update id="updatePerTeamperformance" parameterType="com.ruoyi.performance.domain.PerTeamperformance">
    update PER_TeamPerformance
    set TeamID = #{teamid,jdbcType=INTEGER},
        PerformanceYear = #{performanceyear,jdbcType=INTEGER},
        IndicatorType = #{indicatortype,jdbcType=VARCHAR},
        IndicatorID = #{indicatorid,jdbcType=INTEGER},
        AchieveID = #{achieveid,jdbcType=INTEGER},
        Description = #{description,jdbcType=VARCHAR},
        BasePoints = #{basepoints,jdbcType=DECIMAL},
        AuthorUserID = #{authoruserid,jdbcType=INTEGER},
        AuthorOrder = #{authororder,jdbcType=INTEGER},
        Points = #{points,jdbcType=DECIMAL},
        Level1ID = #{level1id,jdbcType=INTEGER},
        Level1Name = #{level1name,jdbcType=VARCHAR},
        Level2ID = #{level2id,jdbcType=INTEGER},
        Level2Name = #{level2name,jdbcType=VARCHAR},
        Status = #{status,jdbcType=VARCHAR}
    where PerformanceID = #{performanceid,jdbcType=INTEGER}
  </update>

    <update id="updatePerTeamperformancePoint" parameterType="com.ruoyi.performance.domain.PerTeamperformance">
        update PER_TeamPerformance
        set
            Points = #{points,jdbcType=DECIMAL}
        where PerformanceID = #{performanceid,jdbcType=INTEGER}
    </update>

    <update id="updatePerTeamperformanceByStatusAndType" parameterType="com.ruoyi.performance.domain.PerTeamperformance">
        update PER_TeamPerformance
        set
            Description = #{description,jdbcType=VARCHAR},
            BasePoints = #{basepoints,jdbcType=DECIMAL},
            Points = #{points,jdbcType=DECIMAL}
        where IndicatorType = #{indicatortype,jdbcType=VARCHAR} and Status = #{status,jdbcType=VARCHAR}
    </update>


    <update id="updatePerTeamperformanceDeleted" parameterType="com.ruoyi.performance.domain.PerTeamperformance">
        update PER_TeamPerformance
        set Status = '已删除'
        where PerformanceYear = #{performanceyear,jdbcType=INTEGER}
        and IndicatorType = #{indicatortype,jdbcType=VARCHAR}
          and  IndicatorID = #{indicatorid,jdbcType=INTEGER}
          and  Status = #{status,jdbcType=VARCHAR}
    </update>

    <update id="updatePerTeamperformanceDeletedById" parameterType="com.ruoyi.performance.domain.PerTeamperformance">
        update PER_TeamPerformance
        set Status = '已删除'
        where  PerformanceID = #{performanceid,jdbcType=INTEGER}
    </update>


  <insert id="insertPerTeamperformance" parameterType="com.ruoyi.performance.domain.PerTeamperformance" useGeneratedKeys="true"
          keyProperty="performanceid">
    insert into PER_TeamPerformance ( TeamID, PerformanceYear,
                                     IndicatorType, IndicatorID, AchieveID,
                                     Description, BasePoints, AuthorUserID,
                                     AuthorOrder, Points, Level1ID,
                                     Level1Name, Level2ID, Level2Name,
                                     Status)
    values ( #{teamid,jdbcType=INTEGER}, #{performanceyear,jdbcType=INTEGER},
            #{indicatortype,jdbcType=VARCHAR}, #{indicatorid,jdbcType=INTEGER}, #{achieveid,jdbcType=INTEGER},
            #{description,jdbcType=VARCHAR}, #{basepoints,jdbcType=DECIMAL}, #{authoruserid,jdbcType=INTEGER},
            #{authororder,jdbcType=INTEGER}, #{points,jdbcType=DECIMAL}, #{level1id,jdbcType=INTEGER},
            #{level1name,jdbcType=VARCHAR}, #{level2id,jdbcType=INTEGER}, #{level2name,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR})
  </insert>


    <select id="selectPerTeamperformance" parameterType="com.ruoyi.performance.domain.PerTeamperformance"  resultMap="BaseResultMap">
        select a.*  ,t1.TeamName as TeamIDLinkText, COALESCE(t2.logCount,0, t2.logCount) as logCount
        from PER_TeamPerformance a   left join PM_Team t1   on a.TeamID = t1.TeamID
                                     left join (select count(logID) as  logCount, PerformanceID from PER_ScoresChangeLog group by PerformanceID) t2 on a.PerformanceID = t2.PerformanceID
        where  a.Status != '已删除'
        <if test="teamid != null ">
            and a.teamid = #{teamid,jdbcType=INTEGER}
        </if>
        <if test="performanceyear != null ">
            and a.performanceyear = #{performanceyear,jdbcType=INTEGER}
        </if>
        order by a.Level1Name,a.Level2Name,a.IndicatorType

    </select>

    <select id="selectPerTeamperformancePointsSum" parameterType="com.ruoyi.performance.domain.PerTeamperformance"  resultType="Integer">
        select sum(a.points) as points from PER_TeamPerformance a
        where  a.Status != '已删除'
        <if test="teamid != null ">
            and a.teamid = #{teamid,jdbcType=INTEGER}
        </if>
        <if test="performanceyear != null ">
            and a.performanceyear = #{performanceyear,jdbcType=INTEGER}
        </if>

    </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:36:51 CST 2021.
    -->
    delete from PER_TeamPerformance
    where PerformanceID = #{performanceid,jdbcType=INTEGER}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Mar 13 07:36:51 CST 2021.
    -->
    select PerformanceID, TeamID, PerformanceYear, IndicatorType, IndicatorID, AchieveID, 
    Description, BasePoints, AuthorUserID, AuthorOrder, Points, Level1ID, Level1Name, 
    Level2ID, Level2Name, Status
    from PER_TeamPerformance
    where PerformanceID = #{performanceid,jdbcType=INTEGER}
  </select>

</mapper>