<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.AudProjectdocMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.domain.AudProjectdoc">
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="DocID" jdbcType="INTEGER" property="docid" />
    <result column="DocType" jdbcType="VARCHAR" property="doctype" />
    <result column="IfDeleted" jdbcType="BIT" property="ifdeleted" />
    <result column="DocName" jdbcType="VARCHAR" property="docname" />
    <result column="RelativePath" jdbcType="VARCHAR" property="relativepath" />
  </resultMap>

  <sql id="selectAudProjectDoc">
    SELECT a.ProjectID      ,a.DocID      ,a.DocType      ,a.IfDeleted, b.DocName,b.RelativePath
    FROM Aud_ProjectDoc a join BAS_Doc b on a.DocID = b.DocID
    where a.IfDeleted=0
  </sql>

  <select id="selectProjectdocList" parameterType="com.ruoyi.project.domain.AudProjectdoc" resultMap="BaseResultMap">
    <include refid="selectAudProjectDoc"/>

    <if test="doctype != null and doctype != '' ">
      and  a.DocID = #{doctype,jdbcType=VARCHAR}
    </if>
    <if test="projectid != null and projectid != 0 ">
      and a.ProjectID = #{projectid, jdbcType=INTEGER}
    </if>

  </select>


  <insert id="insert" parameterType="com.ruoyi.project.domain.AudProjectdoc">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 27 17:38:34 CST 2021.
    -->
    insert into Aud_ProjectDoc (ProjectID, DocID, DocType, 
      IfDeleted)
    values (#{projectid,jdbcType=INTEGER}, #{docid,jdbcType=INTEGER}, #{doctype,jdbcType=VARCHAR}, 
      #{ifdeleted,jdbcType=BIT})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 27 17:38:34 CST 2021.
    -->
    select ProjectID, DocID, DocType, IfDeleted
    from Aud_ProjectDoc
  </select>
</mapper>