<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.PmProjectmemberMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.domain.PmProjectmember">
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="UserID" jdbcType="INTEGER" property="userid" />
    <result column="real_Name" jdbcType="VARCHAR" property="realName" />
  </resultMap>
  <insert id="insert" parameterType="com.ruoyi.project.domain.PmProjectmember">
    insert into PM_ProjectMember (ProjectID, UserID)
    values (#{projectid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER})
  </insert>
  <select id="selectProjectmemberByProjectid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT a.ProjectID ,a.UserID, b.real_name  FROM PM_ProjectMember a join sys_user b on a.UserID = b.user_id
     where a.ProjectID = #{projectid,jdbcType=INTEGER}
  </select>
</mapper>