<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.PmProjectjoinorganizationMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.project.domain.PmProjectjoinorganization">
    <id column="JOID" jdbcType="INTEGER" property="joid" />
    <result column="ProjectID" jdbcType="VARCHAR" property="projectid" />
    <result column="SubjectName" jdbcType="VARCHAR" property="subjectname" />
    <result column="OrganizationName" jdbcType="VARCHAR" property="organizationname" />
    <result column="Manager" jdbcType="VARCHAR" property="manager" />
    <result column="Funds" jdbcType="DECIMAL" property="funds" />
  </resultMap>

  <sql id="selectProjectJoinOrganization">
    SELECT JOID,ProjectID,SubjectName,OrganizationName,Manager,Funds FROM PM_ProjectJoinOrganization
  </sql>


  <select id="selectProjectjoinorganizationList" parameterType="com.ruoyi.project.domain.PmProjectjoinorganization" resultMap="BaseResultMap">
    <include refid="selectProjectJoinOrganization"/>
    where  IfDeleted = 0
    <if test="projectid != null">
      and projectid  = #{projectid, jdbcType=INTEGER}
    </if>
    ORDER BY JOID
  </select>


  <delete id="deleteProjectjoinorganizationByIds" parameterType="List">
    delete from PM_ProjectJoinOrganization
    where JOID in
    <foreach  item ="joid" index="index"  collection="list" open="(" separator="," close=")">
      #{joid}
    </foreach>
  </delete>

  <insert id="insertProjectjoinorganization" parameterType="com.ruoyi.project.domain.PmProjectjoinorganization"  useGeneratedKeys="true" keyProperty="joid">

    insert into PM_ProjectJoinOrganization ( ProjectID, SubjectName,OrganizationName, Manager, Funds)
    values (#{projectid,jdbcType=VARCHAR}, #{subjectname,jdbcType=VARCHAR},
    #{organizationname,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{funds,jdbcType=DECIMAL}
    )
  </insert>

  <update id="updateProjectjoinorganization" parameterType="com.ruoyi.project.domain.PmProjectjoinorganization">
    update PM_ProjectJoinOrganization
    set ProjectID = #{projectid,jdbcType=VARCHAR},
    SubjectName = #{subjectname,jdbcType=VARCHAR},
    OrganizationName = #{organizationname,jdbcType=VARCHAR},
    Manager = #{manager,jdbcType=VARCHAR},
    Funds = #{funds,jdbcType=DECIMAL}
    where JOID = #{joid,jdbcType=INTEGER}
  </update>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 27 12:05:02 CST 2021.
    -->
    delete from PM_ProjectJoinOrganization
    where JOID = #{joid,jdbcType=INTEGER}
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 27 12:05:02 CST 2021.
    -->
    select JOID, ProjectID, SubjectName, OrganizationName, Manager, Funds
    from PM_ProjectJoinOrganization
    where JOID = #{joid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jan 27 12:05:02 CST 2021.
    -->
    select JOID, ProjectID, SubjectName, OrganizationName, Manager, Funds
    from PM_ProjectJoinOrganization
  </select>
</mapper>