<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sku.mapper.SkuInfoMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.sku.domain.SkuInfo">
    <id column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="sku_name" jdbcType="VARCHAR" property="skuName" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <select id="selectSkuInfo" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    order by sku_id desc
  </select>

  <select id="selectSkuListByPhotoSizeValue" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    and  sku_id in (select distinct sku_id from sku_photo where status = 1 and photo_text is not null and  photo_size_value in
    <foreach  item ="photoSizeValue" index="index"  collection="photoSizeValues" open="(" separator="," close=")">
      #{photoSizeValue,jdbcType=VARCHAR}
    </foreach>
    )
    order by sku_id desc
  </select>


  <select id="batchSelectSkuList" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select * from ( select t2.sku_id, t1.sku_name, t2.user_id, t2.created, t2.status from (
    <foreach item="skuName" index="index" collection="skuNames" open=" " separator=" union all " close=" ">
      select #{skuName,jdbcType=VARCHAR} as sku_name
    </foreach>
    ) as t1 left join (select * from sku_info where status = 1) t2 on t1.sku_name = t2.sku_name
    ) tt
    order by tt.sku_id desc
  </select>

  <select id="batchSelectSkuListByPhotoSizeValue" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >

    select * from ( select t2.sku_id, t1.sku_name, t2.user_id, t2.created, t2.status from (
    <foreach item="skuName" index="index" collection="skuNames" open=" " separator=" union all " close=" ">
      select #{skuName,jdbcType=VARCHAR} as sku_name
    </foreach>
    ) as t1 left join (    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    and  sku_id in (select distinct sku_id from sku_photo where status = 1 and photo_text is not null and  photo_size_value in
    <foreach  item ="photoSizeValue" index="index"  collection="photoSizeValues" open="(" separator="," close=")">
      #{photoSizeValue,jdbcType=VARCHAR}
    </foreach>
    )) t2 on t1.sku_name = t2.sku_name
    ) tt
    order by tt.sku_id desc

  </select>


  <select id="exportSkuList" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="skuNames != null and skuNames.size != 0 ">
      and sku_name in
      <foreach  item ="skuName" index="index"  collection="skuNames" open="(" separator="," close=")">
        #{skuName,jdbcType=VARCHAR}
      </foreach>
    </if>


    order by sku_id desc
  </select>

  <select id="exportSkuListByPhotoSizeValue" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="skuNames != null and skuNames.size != 0 ">
      and sku_name in
    <foreach  item ="skuName" index="index"  collection="skuNames" open="(" separator="," close=")">
      #{skuName,jdbcType=VARCHAR}
    </foreach>
    </if>
    and  sku_id in (select distinct sku_id from sku_photo where status = 1 and photo_text is not null
                                                            and  photo_size_value in
    <foreach  item ="photoSizeValue" index="index"  collection="photoSizeValues" open="(" separator="," close=")">
      #{photoSizeValue,jdbcType=VARCHAR}
    </foreach>
    )
    order by sku_id desc
  </select>

  <select id="exportSkuListWithFilesByPhotoSizeValue" resultMap="BaseResultMap"  parameterType="com.ruoyi.sku.domain.SkuInfo" >
    select sku_id, sku_name, user_id, created, status
    from sku_info
    where status=1
    <if test="skuName != null and skuName != '' ">
      and sku_name like concat('%', #{skuName,jdbcType=VARCHAR}, '%')
    </if>
    <if test="skuNames != null and skuNames.size != 0 ">
      and sku_name in
      <foreach  item ="skuName" index="index"  collection="skuNames" open="(" separator="," close=")">
        #{skuName,jdbcType=VARCHAR}
      </foreach>
    </if>
    and  sku_id in (select distinct sku_id from sku_file where status = 1 and file_name is not null
    and  photo_size_value in
    <foreach  item ="photoSizeValue" index="index"  collection="photoSizeValues" open="(" separator="," close=")">
      #{photoSizeValue,jdbcType=VARCHAR}
    </foreach>
    )
    order by sku_id desc
  </select>

  <insert id="insertSkuInfo" parameterType="com.ruoyi.sku.domain.SkuInfo"  useGeneratedKeys="true"  keyProperty="skuId">
    insert into sku_info (sku_name, user_id, created, status)
    values (#{skuName,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{created,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER})
  </insert>

  <update id="updateSkuInfo" parameterType="com.ruoyi.sku.domain.SkuInfo">
    update sku_info
    set sku_name = #{skuName,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER}
    where sku_id = #{skuId,jdbcType=BIGINT}
  </update>

  <select id="selectSkuInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sku_id, sku_name, user_id,  created, status
    from sku_info
    where sku_id = #{skuId,jdbcType=BIGINT}
  </select>

  <update id="deleteSkuInfoBySkuIds" parameterType="List">
    update sku_info set status = 0
    where sku_id in
    <foreach  item ="skuId" index="index"  collection="list" open="(" separator="," close=")">
      #{skuId,jdbcType=BIGINT}
    </foreach>

  </update>

  <select id="queryIfDuplicate" parameterType="com.ruoyi.sku.domain.SkuInfo" resultType="int">
    select count(*) from sku_info
    where status = 1 and sku_name = #{skuName,jdbcType=VARCHAR}
    <if test="skuId != null and skuId != 0 ">
      and sku_id != #{skuId,jdbcType=BIGINT}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Jul 04 08:16:39 CST 2021.
    -->
    delete from sku_info
    where sku_id = #{skuId,jdbcType=BIGINT}
  </delete>



  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Jul 04 08:16:39 CST 2021.
    -->
    select sku_id, sku_name, user_id, created, status
    from sku_info
  </select>
</mapper>