<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sku.mapper.SkuPhotoMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.sku.domain.SkuPhoto">
    <id column="photo_id" jdbcType="BIGINT" property="photoId" />
    <result column="photo_size_value" jdbcType="VARCHAR" property="photoSizeValue" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="modified" jdbcType="TIMESTAMP" property="modified" />
    <result column="sku_id" jdbcType="BIGINT" property="skuId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="photo_text" jdbcType="LONGVARCHAR" property="photoText" />
    <result column="photo_size_label" jdbcType="VARCHAR" property="photoSizeLabel" />
  </resultMap>

  <insert id="insertSkuPhoto" parameterType="com.ruoyi.sku.domain.SkuPhoto"  useGeneratedKeys="true"  keyProperty="photoId">
    insert into sku_photo (photo_size_value, created,
                           modified, sku_id, status,
                           photo_text)
    values ( #{photoSizeValue,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP},
            #{modified,jdbcType=TIMESTAMP}, #{skuId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER},
            #{photoText,jdbcType=LONGVARCHAR})
  </insert>

  <select id="selectSkuPhoto" resultMap="BaseResultMap">
    select 		  a.photo_id,
    a.photo_size_value,
    a.photo_text,
    a.created,
    a.modified,
    a.sku_id,
    a.status,
    b.dict_label as photo_size_label ,
    b.dict_sort
    from sku_photo a left join (select * from sys_dict_data  where dict_type = '图片尺寸类别' ) b on a.photo_size_value= b.dict_value
    where a.status=1
    <if test="skuId != null ">
      and a.sku_id = #{skuId,jdbcType=BIGINT}
    </if>
    order by b.dict_sort
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Jul 04 14:36:15 CST 2021.
    -->
    delete from sku_photo
    where photo_id = #{photoId,jdbcType=BIGINT}
  </delete>

  <update id="updateSkuPhoto" parameterType="com.ruoyi.sku.domain.SkuPhoto">
    update sku_photo
    set photo_size_value = #{photoSizeValue,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
      sku_id = #{skuId,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      photo_text = #{photoText,jdbcType=LONGVARCHAR}
    where photo_id = #{photoId,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Jul 04 14:36:15 CST 2021.
    -->
    select photo_id, photo_size_value, created, modified, sku_id, status, photo_text
    from sku_photo
    where photo_id = #{photoId,jdbcType=BIGINT}
  </select>

</mapper>