<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sheet.mapper.AudSheetauditrecordMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.sheet.domain.AudSheetauditrecord">
    <id column="AuditID" jdbcType="INTEGER" property="auditid" />
    <result column="SheetType" jdbcType="VARCHAR" property="sheettype" />
    <result column="SheetID" jdbcType="INTEGER" property="sheetid" />
    <result column="AuditType" jdbcType="VARCHAR" property="audittype" />
    <result column="AuditResult" jdbcType="BIT" property="auditresult" />
    <result column="AuditOpinion" jdbcType="VARCHAR" property="auditopinion" />
    <result column="AuditUserID" jdbcType="INTEGER" property="audituserid" />
    <result column="AuditTime" jdbcType="VARCHAR" property="audittime" />
    <result column="signpicName" jdbcType="VARCHAR" property="signpicName" />
  </resultMap>
  <select id="selectSheetauditRecord" parameterType="com.ruoyi.sheet.domain.AudSheetauditrecord"  resultMap="BaseResultMap">
    select a.*,b.SignPicName from Aud_SheetAuditRecord a join Aud_SignPic b  on  b.UserID = a.AuditUserID
    where 1=1
    AND a.sheettype = #{sheettype,jdbcType=VARCHAR}
    AND a.sheetid = #{sheetid,jdbcType=INTEGER}
    <if test="audittype != null and audittype != '' ">
      AND a.AuditType = #{audittype,jdbcType=VARCHAR}
    </if>
    order by a.AuditType
  </select>
  <insert id="insertAudSheetauditrecord" parameterType="com.ruoyi.sheet.domain.AudSheetauditrecord"  useGeneratedKeys="true"
          keyProperty="auditid" >
    insert into Aud_SheetAuditRecord (SheetType, SheetID,
                                      AuditType, AuditResult, AuditOpinion,
                                      AuditUserID, AuditTime)
    values (#{sheettype,jdbcType=VARCHAR}, #{sheetid,jdbcType=INTEGER},
            #{audittype,jdbcType=VARCHAR}, #{auditresult,jdbcType=BIT}, #{auditopinion,jdbcType=VARCHAR},
            #{audituserid,jdbcType=INTEGER}, #{audittime,jdbcType=VARCHAR})
  </insert>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 15 21:59:28 CST 2021.
    -->
    delete from Aud_SheetAuditRecord
    where AuditID = #{auditid,jdbcType=INTEGER}
  </delete>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.sheet.domain.AudSheetauditrecord">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 15 21:59:28 CST 2021.
    -->
    update Aud_SheetAuditRecord
    set SheetType = #{sheettype,jdbcType=VARCHAR},
      SheetID = #{sheetid,jdbcType=INTEGER},
      AuditType = #{audittype,jdbcType=VARCHAR},
      AuditResult = #{auditresult,jdbcType=BIT},
      AuditOpinion = #{auditopinion,jdbcType=VARCHAR},
      AuditUserID = #{audituserid,jdbcType=INTEGER},
      AuditTime = #{audittime,jdbcType=VARCHAR}
    where AuditID = #{auditid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 15 21:59:28 CST 2021.
    -->
    select AuditID, SheetType, SheetID, AuditType, AuditResult, AuditOpinion, AuditUserID, 
    AuditTime
    from Aud_SheetAuditRecord
    where AuditID = #{auditid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Feb 15 21:59:28 CST 2021.
    -->
    select AuditID, SheetType, SheetID, AuditType, AuditResult, AuditOpinion, AuditUserID, 
    AuditTime
    from Aud_SheetAuditRecord
  </select>
</mapper>