<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.sheet.mapper.SrmSupplierMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.sheet.domain.SrmSupplier">
    <id column="SupplierID" jdbcType="INTEGER" property="supplierid" />
    <result column="SupplierName" jdbcType="VARCHAR" property="suppliername" />
    <result column="SupplierShortName" jdbcType="VARCHAR" property="suppliershortname" />
    <result column="Address" jdbcType="VARCHAR" property="address" />
    <result column="Character" jdbcType="INTEGER" property="character" />
    <result column="Type" jdbcType="INTEGER" property="type" />
    <result column="WebSite" jdbcType="VARCHAR" property="website" />
    <result column="Person1Name" jdbcType="VARCHAR" property="person1name" />
    <result column="Person1Phone1" jdbcType="VARCHAR" property="person1phone1" />
    <result column="Person1Phone2" jdbcType="VARCHAR" property="person1phone2" />
    <result column="Person1Email" jdbcType="VARCHAR" property="person1email" />
    <result column="Person2Name" jdbcType="VARCHAR" property="person2name" />
    <result column="Person2Phone1" jdbcType="VARCHAR" property="person2phone1" />
    <result column="Person2Phone2" jdbcType="VARCHAR" property="person2phone2" />
    <result column="Person2Email" jdbcType="VARCHAR" property="person2email" />
    <result column="SupplierLevel" jdbcType="INTEGER" property="supplierlevel" />
    <result column="BankName" jdbcType="VARCHAR" property="bankname" />
    <result column="BankNumber" jdbcType="VARCHAR" property="banknumber" />
    <result column="OrganizationCode" jdbcType="VARCHAR" property="organizationcode" />
    <result column="TaxCode" jdbcType="VARCHAR" property="taxcode" />
    <result column="Manager" jdbcType="VARCHAR" property="manager" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createuserid" />
    <result column="IfAudited" jdbcType="BIT" property="ifaudited" />
    <result column="IfDeleted" jdbcType="BIT" property="ifdeleted" />
    <result column="CharacterName" jdbcType="VARCHAR" property="charactername" />
    <result column="TypeName" jdbcType="VARCHAR" property="typename" />
    <result column="LevelName" jdbcType="VARCHAR" property="levelname" />
    <result column="createUserIDLinkText" jdbcType="VARCHAR" property="createUserIDLinkText" />
    <result column="characterLinkText" jdbcType="VARCHAR" property="characterLinkText" />
  </resultMap>

  <select id="selectSupplierInfoList" parameterType="com.ruoyi.sheet.domain.SrmSupplier" resultMap="BaseResultMap">
    select a.SupplierID, a.SupplierName, a.SupplierShortName, a.Address, a.Character, a.Type, a.WebSite, a.
      Person1Name, a.Person1Phone1, a.Person1Phone2, a.Person1Email, a.Person2Name, a.Person2Phone1, a.
             Person2Phone2, a.Person2Email, a.SupplierLevel, a.BankName, a.BankNumber, a.OrganizationCode, a.
             TaxCode, a.Manager, a.Memo, a.CreateUserID, a.IfAudited, a.IfDeleted,b.dict_label, '' as TypeName, '' LevelName
    from SRM_SupplierInfo a left join (select * from sys_dict_data where dict_type='单位性质') b on a.Character=b.dict_value
    where 0=0
    <if test="ifdeleted != null">
      AND a.ifdeleted = #{ifdeleted, jdbcType=BIT}
    </if>
    <if test="suppliername != null and suppliername != '' ">
      AND a.suppliername like concat('%', #{suppliername, jdbcType=VARCHAR}, '%')
    </if>
order by a.SupplierID desc
  </select>

  <select id="selectSupplierInfoByOrganizationcode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select a.SupplierID, a.SupplierName, a.SupplierShortName, a.Address, a.Character, a.Type, a.WebSite, a.
    Person1Name, a.Person1Phone1, a.Person1Phone2, a.Person1Email, a.Person2Name, a.Person2Phone1, a.
    Person2Phone2, a.Person2Email, a.SupplierLevel, a.BankName, a.BankNumber, a.OrganizationCode, a.
    TaxCode, a.Manager, a.Memo, a.CreateUserID, a.IfAudited, a.IfDeleted,b.dict_label, '' as TypeName, '' LevelName
    from SRM_SupplierInfo a left join (select * from sys_dict_data where dict_type='单位性质') b on a.Character=b.dict_value
    where 0=0 and a.ifdeleted = 0
    <if test="organizationcode != null and organizationcode != ''">
      AND a.OrganizationCode = #{organizationcode, jdbcType=VARCHAR}
    </if>
  </select>

  <select id="selectSupplierInfoById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.SupplierID, a.SupplierName, a.SupplierShortName, a.Address, a.Character, a.Type, a.WebSite, a.
      Person1Name, a.Person1Phone1, a.Person1Phone2, a.Person1Email, a.Person2Name, a.Person2Phone1, a.
             Person2Phone2, a.Person2Email, a.SupplierLevel, a.BankName, a.BankNumber, a.OrganizationCode, a.
             TaxCode, a.Manager, a.Memo, a.CreateUserID, a.IfAudited, a.IfDeleted,b.dict_label, '' as TypeName, '' LevelName,
           b.dict_label as characterLinkText,
           c.real_name as createUserIDLinkText
    from SRM_SupplierInfo a left join (select * from sys_dict_data where dict_type='单位性质') b on a.Character=b.dict_value
                            left join sys_user c on a.CreateUserID = c.user_id
    where a.SupplierID = #{supplierid,jdbcType=INTEGER}
  </select>

  <insert id="insertSupplierInfo" parameterType="com.ruoyi.sheet.domain.SrmSupplier" useGeneratedKeys="true"
          keyProperty="supplierid" >
    insert into SRM_SupplierInfo (SupplierName, SupplierShortName,
    Address, Character, Type,
    WebSite, Person1Name, Person1Phone1,
    Person1Phone2, Person1Email, Person2Name,
    Person2Phone1, Person2Phone2, Person2Email,
    SupplierLevel, BankName, BankNumber,
    OrganizationCode, TaxCode, Manager,
    Memo, CreateUserID, IfAudited,
    IfDeleted)
    values ( #{suppliername,jdbcType=VARCHAR}, #{suppliershortname,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR}, #{character,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},
    #{website,jdbcType=VARCHAR}, #{person1name,jdbcType=VARCHAR}, #{person1phone1,jdbcType=VARCHAR},
    #{person1phone2,jdbcType=VARCHAR}, #{person1email,jdbcType=VARCHAR}, #{person2name,jdbcType=VARCHAR},
    #{person2phone1,jdbcType=VARCHAR}, #{person2phone2,jdbcType=VARCHAR}, #{person2email,jdbcType=VARCHAR},
    #{supplierlevel,jdbcType=INTEGER}, #{bankname,jdbcType=VARCHAR}, #{banknumber,jdbcType=VARCHAR},
    #{organizationcode,jdbcType=VARCHAR}, #{taxcode,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR},
    #{memo,jdbcType=VARCHAR}, #{createuserid,jdbcType=INTEGER}, #{ifaudited,jdbcType=BIT},
    #{ifdeleted,jdbcType=BIT})
  </insert>

  <update id="updateSupplierInfo" parameterType="com.ruoyi.sheet.domain.SrmSupplier">
    update SRM_SupplierInfo
    set SupplierName = #{suppliername,jdbcType=VARCHAR},
      SupplierShortName = #{suppliershortname,jdbcType=VARCHAR},
      Address = #{address,jdbcType=VARCHAR},
      Character = #{character,jdbcType=INTEGER},
      Type = #{type,jdbcType=INTEGER},
      WebSite = #{website,jdbcType=VARCHAR},
      Person1Name = #{person1name,jdbcType=VARCHAR},
      Person1Phone1 = #{person1phone1,jdbcType=VARCHAR},
      Person1Phone2 = #{person1phone2,jdbcType=VARCHAR},
      Person1Email = #{person1email,jdbcType=VARCHAR},
      Person2Name = #{person2name,jdbcType=VARCHAR},
      Person2Phone1 = #{person2phone1,jdbcType=VARCHAR},
      Person2Phone2 = #{person2phone2,jdbcType=VARCHAR},
      Person2Email = #{person2email,jdbcType=VARCHAR},
      SupplierLevel = #{supplierlevel,jdbcType=INTEGER},
      BankName = #{bankname,jdbcType=VARCHAR},
      BankNumber = #{banknumber,jdbcType=VARCHAR},
      OrganizationCode = #{organizationcode,jdbcType=VARCHAR},
      TaxCode = #{taxcode,jdbcType=VARCHAR},
      Manager = #{manager,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR}
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </update>

  <update id="updateSupplierInfoIfAuditedByIds" parameterType="List">
    update SRM_SupplierInfo set IfAudited = 1
    where SupplierID in
    <foreach  item ="supplierid" index="index"  collection="list" open="(" separator="," close=")">
      #{supplierid}
    </foreach>

  </update>

  <delete id="deleteSupplierInfoByIds" parameterType="List">
    update SRM_SupplierInfo set IfDeleted = 1
    where SupplierID in
    <foreach  item ="supplierid" index="index"  collection="list" open="(" separator="," close=")">
      #{supplierid}
    </foreach>

  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Feb 17 09:51:51 CST 2021.
    -->
    select SupplierID, SupplierName, SupplierShortName, Address, Character, Type, WebSite, 
    Person1Name, Person1Phone1, Person1Phone2, Person1Email, Person2Name, Person2Phone1, 
    Person2Phone2, Person2Email, SupplierLevel, BankName, BankNumber, OrganizationCode, 
    TaxCode, Manager, Memo, CreateUserID, IfAudited, IfDeleted
    from SRM_SupplierInfo
    where SupplierID = #{supplierid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select SupplierID, SupplierName, SupplierShortName, Address, Character, Type, WebSite, 
    Person1Name, Person1Phone1, Person1Phone2, Person1Email, Person2Name, Person2Phone1, 
    Person2Phone2, Person2Email, SupplierLevel, BankName, BankNumber, OrganizationCode, 
    TaxCode, Manager, Memo, CreateUserID, IfAudited, IfDeleted
    from SRM_SupplierInfo
  </select>
</mapper>