<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achieve.mapper.AchArticleMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.achieve.domain.AchArticle">

    <id column="ArticleID" jdbcType="INTEGER" property="articleid" />
    <result column="ArticleName" jdbcType="VARCHAR" property="articlename" />
    <result column="ArticleType" jdbcType="INTEGER" property="articletype" />
    <result column="PublishYear" jdbcType="INTEGER" property="publishyear" />
    <result column="PublishUnit" jdbcType="VARCHAR" property="publishunit" />
    <result column="PublishNumber" jdbcType="VARCHAR" property="publishnumber" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createuserid" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="articletypelinktext" jdbcType="VARCHAR" property="articletypelinktext"/>
    <result column="projectidlinktext" jdbcType="VARCHAR" property="projectidlinktext"/>
    <result column="teamname" jdbcType="VARCHAR" property="teamname"/>
    <result column="createuseridlinktext" jdbcType="VARCHAR" property="createuseridlinktext"/>
    <result column="statuslinktext" jdbcType="VARCHAR" property="statuslinktext"/>
  </resultMap>


  <select id="selectAchArticle"  parameterType="com.ruoyi.achieve.domain.AchArticle" resultMap="BaseResultMap">
    select a.* , t1.dict_label as ArticleTypeLinkText,
    t2.ProjectName as ProjectIDLinkText,
    t5.TeamName as TeamIDLinkText,
    t6.real_name as CreateUserIDLinkText,
    t7.dict_label as StatusLinkText
    from ach_Article a  left join (select * from sys_dict_data where dict_type='著作类别') t1   on a.ArticleType = t1.dict_value
    left join Aud_Project t2   on a.ProjectID = t2.ProjectID
    left join PM_Team t5   on a.TeamID = t5.TeamID
    join sys_user t6 on a.CreateUserID = t6.user_id
    left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where  0=0 and a.status != 39
    <if test="status != null ">
      and a.Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="publishyear != null ">
      and a.publishyear = #{publishyear,jdbcType=INTEGER}
    </if>
    <if test="articletype != null ">
      and a.articletype = #{articletype,jdbcType=INTEGER}
    </if>

  </select>

  <select id="selectAchArticleById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.* , t1.dict_label as ArticleTypeLinkText,
           t2.ProjectName as ProjectIDLinkText,
           t5.TeamName as TeamIDLinkText,
           t6.real_name as CreateUserIDLinkText,
           t7.dict_label as StatusLinkText
    from ach_Article a  left join (select * from sys_dict_data where dict_type='著作类别') t1   on a.ArticleType = t1.dict_value
                        left join Aud_Project t2   on a.ProjectID = t2.ProjectID
                        left join PM_Team t5   on a.TeamID = t5.TeamID
                        join sys_user t6 on a.CreateUserID = t6.user_id
                        left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where ArticleID = #{articleid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ACH_Article
    where ArticleID = #{articleid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.achieve.domain.AchArticle">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:12:26 CST 2021.
    -->
    insert into ACH_Article (ArticleID, ArticleName, ArticleType, 
      PublishYear, PublishUnit, PublishNumber, 
      Memo, ProjectID, TeamID, 
      CreateUserID, CreateTime, Status
      )
    values (#{articleid,jdbcType=INTEGER}, #{articlename,jdbcType=VARCHAR}, #{articletype,jdbcType=INTEGER}, 
      #{publishyear,jdbcType=INTEGER}, #{publishunit,jdbcType=VARCHAR}, #{publishnumber,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{projectid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, 
      #{createuserid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.achieve.domain.AchArticle">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:12:26 CST 2021.
    -->
    update ACH_Article
    set ArticleName = #{articlename,jdbcType=VARCHAR},
      ArticleType = #{articletype,jdbcType=INTEGER},
      PublishYear = #{publishyear,jdbcType=INTEGER},
      PublishUnit = #{publishunit,jdbcType=VARCHAR},
      PublishNumber = #{publishnumber,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      ProjectID = #{projectid,jdbcType=INTEGER},
      TeamID = #{teamid,jdbcType=INTEGER},
      CreateUserID = #{createuserid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER}
    where ArticleID = #{articleid,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:12:26 CST 2021.
    -->
    select ArticleID, ArticleName, ArticleType, PublishYear, PublishUnit, PublishNumber, 
    Memo, ProjectID, TeamID, CreateUserID, CreateTime, Status
    from ACH_Article
  </select>
</mapper>