<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achieve.mapper.AchAppraisalMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.achieve.domain.AchAppraisal">
    <id column="AppraisalID" jdbcType="INTEGER" property="appraisalid" />
    <result column="AppraisalName" jdbcType="VARCHAR" property="appraisalname" />
    <result column="BookCode" jdbcType="VARCHAR" property="bookcode" />
    <result column="CertificateUnit" jdbcType="VARCHAR" property="certificateunit" />
    <result column="PublishYear" jdbcType="INTEGER" property="publishyear" />
    <result column="Opinion" jdbcType="VARCHAR" property="opinion" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createuserid" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="projectidlinktext" jdbcType="VARCHAR" property="projectidlinktext"/>
    <result column="teamidlinktext" jdbcType="VARCHAR" property="teamidlinktext"/>
    <result column="createuseridlinktext" jdbcType="VARCHAR" property="createuseridlinktext"/>
    <result column="statuslinktext" jdbcType="VARCHAR" property="statuslinktext"/>
  </resultMap>
  <select id="selectAchAppraisal" parameterType="com.ruoyi.achieve.domain.AchAppraisal" resultMap="BaseResultMap">
    select a.* ,
    t2.ProjectName as ProjectIDLinkText,
    t5.TeamName as TeamIDLinkText,
    t6.real_name as CreateUserIDLinkText,
    t7.dict_label as StatusLinkText
    from ach_appraisal a
    left join Aud_Project t2   on a.ProjectID = t2.ProjectID
    left join PM_Team t5   on a.TeamID = t5.TeamID
    join sys_user t6 on a.CreateUserID = t6.user_id
    left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where 0 = 0
    <if test="status != null ">
      and a.Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="publishyear != null ">
      and a.publishyear = #{publishyear,jdbcType=INTEGER}
    </if>
    <if test="teamid != null and teamid != 0 ">
      and a.teamid = #{teamid, jdbcType=INTEGER}
    </if>
    order by a.appraisalid desc

  </select>

  <select id="selectAchAppraisalById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select a.* ,
           t2.ProjectName as ProjectIDLinkText,
           t5.TeamName as TeamIDLinkText,
           t6.real_name as CreateUserIDLinkText,
           t7.dict_label as StatusLinkText
    from ach_appraisal a
           left join Aud_Project t2   on a.ProjectID = t2.ProjectID
           left join PM_Team t5   on a.TeamID = t5.TeamID
           join sys_user t6 on a.CreateUserID = t6.user_id
           left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where a.AppraisalID = #{appraisalid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:51:06 CST 2021.
    -->
    delete from ACH_Appraisal
    where AppraisalID = #{appraisalid,jdbcType=INTEGER}
  </delete>
  <insert id="insertAchAppraisal" parameterType="com.ruoyi.achieve.domain.AchAppraisal"  useGeneratedKeys="true"
          keyProperty="appraisalid">
    insert into ACH_Appraisal ( AppraisalName, BookCode,
      CertificateUnit, PublishYear, Opinion, 
      Memo, ProjectID, TeamID, 
      CreateUserID, CreateTime, Status
      )
    values ( #{appraisalname,jdbcType=VARCHAR}, #{bookcode,jdbcType=VARCHAR},
      #{certificateunit,jdbcType=VARCHAR}, #{publishyear,jdbcType=INTEGER}, #{opinion,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{projectid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, 
      #{createuserid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateAchAppraisal" parameterType="com.ruoyi.achieve.domain.AchAppraisal">
    update ACH_Appraisal
    set AppraisalName = #{appraisalname,jdbcType=VARCHAR},
      BookCode = #{bookcode,jdbcType=VARCHAR},
      CertificateUnit = #{certificateunit,jdbcType=VARCHAR},
      PublishYear = #{publishyear,jdbcType=INTEGER},
      Opinion = #{opinion,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      ProjectID = #{projectid,jdbcType=INTEGER},
      TeamID = #{teamid,jdbcType=INTEGER}
    where AppraisalID = #{appraisalid,jdbcType=INTEGER}
  </update>
  <update id="updateAchAppraisalStatus" parameterType="com.ruoyi.achieve.domain.AchAppraisal">
    update ACH_Appraisal
    set
        Status = #{status,jdbcType=INTEGER}
    where AppraisalID = #{appraisalid,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:51:06 CST 2021.
    -->
    select AppraisalID, AppraisalName, BookCode, CertificateUnit, PublishYear, Opinion, 
    Memo, ProjectID, TeamID, CreateUserID, CreateTime, Status
    from ACH_Appraisal
    where AppraisalID = #{appraisalid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:51:06 CST 2021.
    -->
    select AppraisalID, AppraisalName, BookCode, CertificateUnit, PublishYear, Opinion, 
    Memo, ProjectID, TeamID, CreateUserID, CreateTime, Status
    from ACH_Appraisal
  </select>
</mapper>