<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achieve.mapper.AchProductMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.achieve.domain.AchProduct">
    <id column="ProductID" jdbcType="INTEGER" property="productid" />
    <result column="ProductName" jdbcType="VARCHAR" property="productname" />
    <result column="ProductYear" jdbcType="INTEGER" property="productyear" />
    <result column="CorperationUnit" jdbcType="VARCHAR" property="corperationunit" />
    <result column="Performance" jdbcType="VARCHAR" property="performance" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createuserid" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="projectidlinktext" jdbcType="VARCHAR" property="projectidlinktext"/>
    <result column="teamname" jdbcType="VARCHAR" property="teamidlinktext"/>
    <result column="createuseridlinktext" jdbcType="VARCHAR" property="createuseridlinktext"/>
    <result column="statuslinktext" jdbcType="VARCHAR" property="statuslinktext"/>
  </resultMap>

  <select id="selectAchProduct" parameterType="com.ruoyi.achieve.domain.AchProduct" resultMap="BaseResultMap">
    select a.* ,
           t2.ProjectName as ProjectIDLinkText,
           t5.TeamName as TeamIDLinkText,
           t6.real_name as CreateUserIDLinkText,
           t7.dict_label as StatusLinkText
    from ach_product a
           left join Aud_Project t2   on a.ProjectID = t2.ProjectID
           left join PM_Team t5   on a.TeamID = t5.TeamID
           join sys_user t6 on a.CreateUserID = t6.user_id
           left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where  0=0
    <if test="status != null ">
      and a.Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="productyear != null ">
      and a.productyear = #{productyear,jdbcType=INTEGER}
    </if>

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:50:00 CST 2021.
    -->
    delete from ACH_Product
    where ProductID = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.achieve.domain.AchProduct">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:50:00 CST 2021.
    -->
    insert into ACH_Product (ProductID, ProductName, ProductYear, 
      CorperationUnit, Performance, Memo, 
      ProjectID, TeamID, CreateUserID, 
      CreateTime, Status)
    values (#{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{productyear,jdbcType=INTEGER}, 
      #{corperationunit,jdbcType=VARCHAR}, #{performance,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, 
      #{projectid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, #{createuserid,jdbcType=INTEGER}, 
      #{createtime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.achieve.domain.AchProduct">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:50:00 CST 2021.
    -->
    update ACH_Product
    set ProductName = #{productname,jdbcType=VARCHAR},
      ProductYear = #{productyear,jdbcType=INTEGER},
      CorperationUnit = #{corperationunit,jdbcType=VARCHAR},
      Performance = #{performance,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      ProjectID = #{projectid,jdbcType=INTEGER},
      TeamID = #{teamid,jdbcType=INTEGER},
      CreateUserID = #{createuserid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER}
    where ProductID = #{productid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:50:00 CST 2021.
    -->
    select ProductID, ProductName, ProductYear, CorperationUnit, Performance, Memo, ProjectID, 
    TeamID, CreateUserID, CreateTime, Status
    from ACH_Product
    where ProductID = #{productid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 13:50:00 CST 2021.
    -->
    select ProductID, ProductName, ProductYear, CorperationUnit, Performance, Memo, ProjectID, 
    TeamID, CreateUserID, CreateTime, Status
    from ACH_Product
  </select>
</mapper>