<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.achieve.mapper.AchThesisMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.achieve.domain.AchThesis">
    <id column="ThesisID" jdbcType="INTEGER" property="thesisid" />
    <result column="ThesisName" jdbcType="VARCHAR" property="thesisname" />
    <result column="PublishBookName" jdbcType="VARCHAR" property="publishbookname" />
    <result column="PublishBookLevel" jdbcType="INTEGER" property="publishbooklevel" />
    <result column="ThesisLevel" jdbcType="VARCHAR" property="thesislevel" />
    <result column="Year" jdbcType="INTEGER" property="year" />
    <result column="Issue" jdbcType="VARCHAR" property="issue" />
    <result column="Period" jdbcType="VARCHAR" property="period" />
    <result column="Page" jdbcType="VARCHAR" property="page" />
    <result column="Keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="Memo" jdbcType="VARCHAR" property="memo" />
    <result column="DOI" jdbcType="VARCHAR" property="doi" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="CreateUserID" jdbcType="INTEGER" property="createuserid" />
    <result column="CreateTime" jdbcType="VARCHAR" property="createtime" />
    <result column="Status" jdbcType="INTEGER" property="status" />
    <result column="publishbooklevellinktext" jdbcType="VARCHAR" property="publishbooklevellinktext" />
    <result column="TeamIDLinkText" jdbcType="VARCHAR" property="teamidlinktext" />
    <result column="CreateUserIDLinkText" jdbcType="VARCHAR" property="createuseridlinktext" />
    <result column="StatusLinkText" jdbcType="VARCHAR" property="statuslinktext" />
  </resultMap>

  <select id="selectAchThesis" resultMap="BaseResultMap">
    select a.* , t1.dict_label as PublishBookLevelLinkText,
           t5.TeamName as TeamIDLinkText,
           t6.real_name as CreateUserIDLinkText,
           t7.dict_label as StatusLinkText
    from ACH_Thesis a  left join (select * from sys_dict_data where dict_type='期刊级别') t1   on a.PublishBookLevel = t1.dict_value
                       left join PM_Team t5   on a.TeamID = t5.TeamID
                       join sys_user t6 on a.CreateUserID = t6.user_id
                       left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where  0=0 and a.status != 39
    <if test="status != null ">
      and a.Status = #{status,jdbcType=INTEGER}
    </if>
    <if test="thesislevel != null ">
      and a.thesislevel = #{thesislevel,jdbcType=VARCHAR}
    </if>
    <if test="year != null ">
      and a.year = #{year,jdbcType=INTEGER}
    </if>
    <if test="teamid != null ">
      and a.teamid = #{teamid,jdbcType=INTEGER}
    </if>
    order by a.ThesisLevel, a.thesisname
  </select>

  <select id="selectAchThesisById" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select a.* , t1.dict_label as PublishBookLevelLinkText,
           t5.TeamName as TeamIDLinkText,
           t6.real_name as CreateUserIDLinkText,
           t7.dict_label as StatusLinkText
    from ACH_Thesis a  left join (select * from sys_dict_data where dict_type='期刊级别') t1   on a.PublishBookLevel = t1.dict_value
                       left join PM_Team t5   on a.TeamID = t5.TeamID
                       join sys_user t6 on a.CreateUserID = t6.user_id
                       left join (select * from sys_dict_data where dict_type='科技成果状态') t7 on a.Status = t7.dict_value
    where a.ThesisID = #{thesisid,jdbcType=INTEGER}
  </select>


  <select id="queryIfDuplicate" parameterType="com.ruoyi.achieve.domain.AchThesis" resultType="int">
    select count(*) from ACH_Thesis
    where status != 39 and thesisname = #{thesisname,jdbcType=VARCHAR}
    <if test="thesisid != null and thesisid != 0 ">
      and thesisid != #{thesisid,jdbcType=INTEGER}
    </if>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 11:38:35 CST 2021.
    -->
    delete from ACH_Thesis
    where ThesisID = #{thesisid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ruoyi.achieve.domain.AchThesis">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 11:38:35 CST 2021.
    -->
    insert into ACH_Thesis (ThesisID, ThesisName, PublishBookName, 
      PublishBookLevel, ThesisLevel, Year, 
      Issue, Period, Page, 
      Keyword, Memo, DOI, 
      TeamID, CreateUserID, CreateTime, 
      Status)
    values (#{thesisid,jdbcType=INTEGER}, #{thesisname,jdbcType=VARCHAR}, #{publishbookname,jdbcType=VARCHAR}, 
      #{publishbooklevel,jdbcType=INTEGER}, #{thesislevel,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}, 
      #{issue,jdbcType=VARCHAR}, #{period,jdbcType=VARCHAR}, #{page,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}, #{doi,jdbcType=VARCHAR}, 
      #{teamid,jdbcType=INTEGER}, #{createuserid,jdbcType=INTEGER}, #{createtime,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.achieve.domain.AchThesis">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 11:38:35 CST 2021.
    -->
    update ACH_Thesis
    set ThesisName = #{thesisname,jdbcType=VARCHAR},
      PublishBookName = #{publishbookname,jdbcType=VARCHAR},
      PublishBookLevel = #{publishbooklevel,jdbcType=INTEGER},
      ThesisLevel = #{thesislevel,jdbcType=VARCHAR},
      Year = #{year,jdbcType=INTEGER},
      Issue = #{issue,jdbcType=VARCHAR},
      Period = #{period,jdbcType=VARCHAR},
      Page = #{page,jdbcType=VARCHAR},
      Keyword = #{keyword,jdbcType=VARCHAR},
      Memo = #{memo,jdbcType=VARCHAR},
      DOI = #{doi,jdbcType=VARCHAR},
      TeamID = #{teamid,jdbcType=INTEGER},
      CreateUserID = #{createuserid,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER}
    where ThesisID = #{thesisid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Mar 15 11:38:35 CST 2021.
    -->
    select ThesisID, ThesisName, PublishBookName, PublishBookLevel, ThesisLevel, Year, 
    Issue, Period, Page, Keyword, Memo, DOI, TeamID, CreateUserID, CreateTime, Status
    from ACH_Thesis
    where ThesisID = #{thesisid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ThesisID, ThesisName, PublishBookName, PublishBookLevel, ThesisLevel, Year,
    Issue, Period, Page, Keyword, Memo, DOI, TeamID, CreateUserID, CreateTime, Status
    from ACH_Thesis
  </select>
</mapper>