<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.expense.mapper.AudExpenseMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.expense.domain.AudExpense">
        <id column="ExpenseSheetID" jdbcType="INTEGER" property="expensesheetid"/>
        <result column="ExpenseName" jdbcType="VARCHAR" property="expensename"/>
        <result column="ExpenseSheetCode" jdbcType="VARCHAR" property="expensesheetcode"/>
        <result column="SheetUserID" jdbcType="INTEGER" property="sheetuserid"/>
        <result column="SheetTime" jdbcType="VARCHAR" property="sheettime"/>
        <result column="ProjectID" jdbcType="INTEGER" property="projectid"/>
        <result column="OrganizationID" jdbcType="INTEGER" property="organizationid"/>
        <result column="Money" jdbcType="DECIMAL" property="money"/>
        <result column="daxie" jdbcType="VARCHAR" property="daxie"/>
        <result column="Reason" jdbcType="VARCHAR" property="reason"/>
        <result column="VoucherCount" jdbcType="INTEGER" property="vouchercount"/>
        <result column="PassTime" jdbcType="VARCHAR" property="passtime"/>
        <result column="SheetStatus" jdbcType="INTEGER" property="sheetstatus"/>
        <result column="sheetuseridlinktext" jdbcType="VARCHAR" property="sheetuseridlinktext"/>
        <result column="ProjectIDLinkText" jdbcType="VARCHAR" property="projectidlinktext"/>
        <result column="OrganizationIDLinkText" jdbcType="VARCHAR" property="organizationidlinktext"/>
        <result column="SheetStatusLinkText" jdbcType="VARCHAR" property="sheetstatuslinktext"/>
    </resultMap>
    <sql id="selectExpense">
        SELECT a.ExpenseSheetID
             , a.ExpenseName
             , a.ExpenseSheetCode
             , a.SheetUserID
             , a.SheetTime
             , a.ProjectID
             , a.OrganizationID
             , a.Money
             , a.daxie
             , a.Reason
             , a.VoucherCount
             , a.PassTime
             , a.SheetStatus
             , t3.real_name   AS sheetuseridlinktext
             , t5.ProjectName AS ProjectIDLinkText
             , t6.dept_name   AS OrganizationIDLinkText
             , t13.dict_label AS SheetStatusLinkText
        FROM Aud_Expense a
                 JOIN sys_user t3 ON a.SheetUserID = t3.user_id
                 JOIN Aud_Project t5 ON a.ProjectID = t5.ProjectID
                 JOIN sys_dept t6 ON a.OrganizationID = t6.dept_id
                 JOIN (
            SELECT *
            FROM sys_dict_data
            WHERE dict_type = '单据状态'
        ) t13
                      ON a.SheetStatus = t13.dict_value

    </sql>
    <select id="selectExpenseTijiaoren" parameterType="com.ruoyi.expense.domain.AudExpense" resultMap="BaseResultMap">
        <include refid="selectExpense"/>
        WHERE a.sheetuserid = #{sheetuserid,jdbcType=INTEGER}
        <if test="expensename != null and expensename != '' ">
            and a.expensename like concat('%', #{expensename,jdbcType=VARCHAR}, '%')
        </if>
        order by a.SheetTime desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Feb 21 22:08:20 CST 2021.
        -->
        delete from Aud_Expense
        where ExpenseSheetID = #{expensesheetid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.ruoyi.expense.domain.AudExpense">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Feb 21 22:08:20 CST 2021.
        -->
        insert into Aud_Expense (ExpenseSheetID, ExpenseName, ExpenseSheetCode,
        SheetUserID, SheetTime, ProjectID,
        OrganizationID, Money, daxie,
        Reason, VoucherCount, PassTime,
        SheetStatus)
        values (#{expensesheetid,jdbcType=INTEGER}, #{expensename,jdbcType=VARCHAR},
        #{expensesheetcode,jdbcType=VARCHAR},
        #{sheetuserid,jdbcType=INTEGER}, #{sheettime,jdbcType=VARCHAR}, #{projectid,jdbcType=INTEGER},
        #{organizationid,jdbcType=INTEGER}, #{money,jdbcType=DECIMAL}, #{daxie,jdbcType=VARCHAR},
        #{reason,jdbcType=VARCHAR}, #{vouchercount,jdbcType=INTEGER}, #{passtime,jdbcType=VARCHAR},
        #{sheetstatus,jdbcType=INTEGER})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.ruoyi.expense.domain.AudExpense">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Feb 21 22:08:20 CST 2021.
        -->
        update Aud_Expense
        set ExpenseName = #{expensename,jdbcType=VARCHAR},
        ExpenseSheetCode = #{expensesheetcode,jdbcType=VARCHAR},
        SheetUserID = #{sheetuserid,jdbcType=INTEGER},
        SheetTime = #{sheettime,jdbcType=VARCHAR},
        ProjectID = #{projectid,jdbcType=INTEGER},
        OrganizationID = #{organizationid,jdbcType=INTEGER},
        Money = #{money,jdbcType=DECIMAL},
        daxie = #{daxie,jdbcType=VARCHAR},
        Reason = #{reason,jdbcType=VARCHAR},
        VoucherCount = #{vouchercount,jdbcType=INTEGER},
        PassTime = #{passtime,jdbcType=VARCHAR},
        SheetStatus = #{sheetstatus,jdbcType=INTEGER}
        where ExpenseSheetID = #{expensesheetid,jdbcType=INTEGER}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Feb 21 22:08:20 CST 2021.
        -->
        select ExpenseSheetID, ExpenseName, ExpenseSheetCode, SheetUserID, SheetTime, ProjectID,
        OrganizationID, Money, daxie, Reason, VoucherCount, PassTime, SheetStatus
        from Aud_Expense
        where ExpenseSheetID = #{expensesheetid,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sun Feb 21 22:08:20 CST 2021.
        -->
        select ExpenseSheetID, ExpenseName, ExpenseSheetCode, SheetUserID, SheetTime, ProjectID,
        OrganizationID, Money, daxie, Reason, VoucherCount, PassTime, SheetStatus
        from Aud_Expense
    </select>
</mapper>