<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.AudMessageMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.audit.domain.AudMessage">
    <id column="MessageID" jdbcType="INTEGER" property="messageid" />
    <result column="MessageTitle" jdbcType="VARCHAR" property="messagetitle" />
    <result column="MessageContent" jdbcType="VARCHAR" property="messagecontent" />
    <result column="MessageTime" jdbcType="VARCHAR" property="messagetime" />
    <result column="ToUserID" jdbcType="INTEGER" property="touserid" />
    <result column="RelatedSheetType" jdbcType="VARCHAR" property="relatedsheettype" />
    <result column="RelatedSheetID" jdbcType="INTEGER" property="relatedsheetid" />
    <result column="ProcessedTime" jdbcType="VARCHAR" property="processedtime" />
    <result column="IfProcessed" jdbcType="BIT" property="ifprocessed" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Aud_Message
    where MessageID = #{messageid,jdbcType=INTEGER}
  </delete>
  <insert id="insertAudMessage" parameterType="com.ruoyi.audit.domain.AudMessage"  useGeneratedKeys="true"  keyProperty="messageid">
    insert into Aud_Message (MessageTitle, MessageContent,
      MessageTime, ToUserID, RelatedSheetType, 
      RelatedSheetID, ProcessedTime
      )
    values (#{messagetitle,jdbcType=VARCHAR}, #{messagecontent,jdbcType=VARCHAR},
      #{messagetime,jdbcType=VARCHAR}, #{touserid,jdbcType=INTEGER}, #{relatedsheettype,jdbcType=VARCHAR}, 
      #{relatedsheetid,jdbcType=INTEGER}, #{processedtime,jdbcType=VARCHAR}
      )
  </insert>

  <update id="updateIfProcessedById" parameterType="com.ruoyi.audit.domain.AudMessage">
    update Aud_Message
    set ProcessedTime = #{processedtime,jdbcType=VARCHAR},
    IfProcessed = 1
    where MessageID = #{messageid,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.ruoyi.audit.domain.AudMessage">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Feb 07 17:03:24 CST 2021.
    -->
    update Aud_Message
    set MessageTitle = #{messagetitle,jdbcType=VARCHAR},
      MessageContent = #{messagecontent,jdbcType=VARCHAR},
      MessageTime = #{messagetime,jdbcType=VARCHAR},
      ToUserID = #{touserid,jdbcType=INTEGER},
      RelatedSheetType = #{relatedsheettype,jdbcType=VARCHAR},
      RelatedSheetID = #{relatedsheetid,jdbcType=INTEGER},
      ProcessedTime = #{processedtime,jdbcType=VARCHAR},
      IfProcessed = #{ifprocessed,jdbcType=BIT}
    where MessageID = #{messageid,jdbcType=INTEGER}
  </update>
  <select id="selectMessageByToUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select MessageID, MessageTitle, MessageContent, MessageTime, ToUserID, RelatedSheetType,
    RelatedSheetID, ProcessedTime, IfProcessed
    from Aud_Message
    where ToUserID = #{touserid,jdbcType=INTEGER} and IfProcessed = 0
order by MessageID desc
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sun Feb 07 17:03:24 CST 2021.
    -->
    select MessageID, MessageTitle, MessageContent, MessageTime, ToUserID, RelatedSheetType, 
    RelatedSheetID, ProcessedTime, IfProcessed
    from Aud_Message
  </select>
      <update id="updateProcessedByIds" parameterType="List">
        update Aud_Message
        set
        ProcessedTime = getdate(),
        IfProcessed =1
        WHERE MessageID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

</mapper>