<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.AudSignpicMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.audit.domain.AudSignpic">
        <id column="SignpicID" jdbcType="INTEGER" property="signpicId"/>
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="signpicName" jdbcType="VARCHAR" property="signpicName"/>
    </resultMap>

    <select id="selectSignpicList" parameterType="com.ruoyi.audit.domain.AudSignpic" resultMap="BaseResultMap">
        select s.SignPicID, u.user_id, u.real_name, u.user_name,s.SignPicName
        from sys_user u
        left join Aud_SignPic s on u.user_id = s.UserID
        where u.del_flag = '0' and u.user_id > 1
        <if test="userName != null and userName != ''">
            AND u.user_name like concat('%', #{userName}, '%')
        </if>
        <if test="realName != null and realName != ''">
            AND u.real_name like concat('%', #{realName}, '%')
        </if>
    </select>


    <select id="selectSignpicByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select top 1 SignPicID,
               UserID,
               SignPicName
        from Aud_SignPic
        where UserID = #{userId,jdbcType=INTEGER}
    </select>

    <select id="selectSignpicById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select SignPicID,
               UserID,
               SignPicName
        from Aud_SignPic
        where SignPicID = #{signpicId,jdbcType=INTEGER}
    </select>

    <insert id="mergeSignpic" parameterType="com.ruoyi.audit.domain.AudSignpic">

        MERGE Aud_SignPic t
            USING (select #{userId} as userId, #{signpicName} as signpicName ) s
            ON (s.userId = t.userId)
            WHEN MATCHED
            THEN UPDATE SET
                     t.signpicName = s.signpicName
                     WHEN NOT MATCHED BY TARGET
                     THEN INSERT (userId, signpicName)
                 VALUES (s.userId, s.signpicName);

    </insert>


    <insert id="insertSignpic" parameterType="com.ruoyi.audit.domain.AudSignpic">

        insert into Aud_SignPic(userId, signpicName)
        values (#{userId}, #{signpicName,jdbcType=VARCHAR)
    </insert>

    <update id="updateSignpic" parameterType="com.ruoyi.audit.domain.AudSignpic">

        update Aud_SignPic
        set signpicName     = #{signpicName,jdbcType=VARCHAR}
        where userId = #{userId,jdbcType=INTEGER}
    </update>

    <update id="removeSignpicByUserIds" parameterType="List">
        update Aud_SignPic
        set
        signpicName = ''
        WHERE userID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>