<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.AudSheetMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.audit.domain.AudSheet">

    <id column="SheetID" jdbcType="INTEGER" property="sheetid" />
    <result column="SheetCode" jdbcType="VARCHAR" property="sheetcode" />
    <result column="SheetType" jdbcType="VARCHAR" property="sheettype" />
    <result column="RelatedContractID" jdbcType="INTEGER" property="relatedcontractid" />
    <result column="ThisPayTimes" jdbcType="VARCHAR" property="thispaytimes" />
    <result column="SheetUserID" jdbcType="INTEGER" property="sheetuserid" />
    <result column="SheetTime" jdbcType="VARCHAR" property="sheettime" />
    <result column="ProjectID" jdbcType="INTEGER" property="projectid" />
    <result column="OrganizationID" jdbcType="INTEGER" property="organizationid" />
    <result column="heji_zong" jdbcType="DECIMAL" property="hejiZong" />
    <result column="heji_xiaoji" jdbcType="DECIMAL" property="hejiXiaoji" />
    <result column="heji_yiqian" jdbcType="DECIMAL" property="hejiYiqian" />
    <result column="heji_bennian" jdbcType="DECIMAL" property="hejiBennian" />
    <result column="heji_benci" jdbcType="DECIMAL" property="hejiBenci" />
    <result column="daxie" jdbcType="VARCHAR" property="daxie" />
    <result column="ReferenceID" jdbcType="VARCHAR" property="referenceid" />
    <result column="Reason" jdbcType="VARCHAR" property="reason" />
    <result column="PayConfirmTime" jdbcType="VARCHAR" property="payconfirmtime" />
    <result column="PayConfirmUserID" jdbcType="INTEGER" property="payconfirmuserid" />
    <result column="SheetStatus" jdbcType="INTEGER" property="sheetstatus" />
    <result column="SheetUserIDLinkText" jdbcType="VARCHAR" property="sheetuseridlinktext" />
    <result column="projectname" jdbcType="VARCHAR" property="projectidlinktext" />
    <result column="OrganizationIDLinkText" jdbcType="VARCHAR" property="organizationidlinktext" />
    <result column="SheetStatusLinkText" jdbcType="VARCHAR" property="sheetstatuslinktext" />
    <result column="PayConfirmUserIDLinkText" jdbcType="VARCHAR" property="payconfirmuseridlinktext" />
  </resultMap>
  <sql id="selectSheet">
    SELECT a.SheetID, a.SheetCode, a.SheetType, a.RelatedContractID, a.ThisPayTimes
         , a.SheetUserID, a.SheetTime, a.ProjectID, a.OrganizationID, a.heji_zong
         , a.heji_xiaoji, a.heji_yiqian, a.heji_bennian, a.heji_benci, a.daxie
         , a.ReferenceID, a.Reason, a.PayConfirmTime, a.PayConfirmUserID, a.SheetStatus
         , t3.real_name AS SheetUserIDLinkText, t5.ProjectName AS projectname,
           t6.dept_name AS OrganizationIDLinkText, t14.dict_label AS SheetStatusLinkText, t15.real_name AS PayConfirmUserIDLinkText
    FROM Aud_Sheet a
           JOIN sys_user t3 ON a.SheetUserID = t3.user_id
           JOIN Aud_Project t5 ON t5.ProjectID = a.ProjectID
           JOIN sys_dept t6 ON t6.dept_id = a.OrganizationID
           JOIN (SELECT * FROM sys_dict_data	WHERE dict_type = '单据状态') t14
                ON a.SheetStatus = t14.dict_value
           LEFT JOIN sys_user t15 ON a.PayConfirmUserID = t15.user_id
  </sql>

  <select id="selectSheetById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    where  a.SheetID = #{sheetid,jdbcType=INTEGER}
  </select>

  <!--   查询经办人经办过的拨付单列表 -->
  <select id="selectSheetTijiaorenByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.SheetUserID = #{userid,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>

  <!--   查询经办人经办过的拨付单列表 筛选结果 -->
  <select id="selectSheetTijiaoren" parameterType="com.ruoyi.audit.domain.AudSheet" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.SheetUserID = #{sheetuserid,jdbcType=INTEGER}
    and t5.ProjectName like concat('%', #{projectidlinktext,jdbcType=VARCHAR}, '%')
    order by a.SheetTime desc
  </select>

  <insert id="insertAudSheet" parameterType="com.ruoyi.audit.domain.AudSheet" useGeneratedKeys="true"
          keyProperty="sheetid" >
    insert into Aud_Sheet ( SheetCode, SheetType,
      RelatedContractID, ThisPayTimes, SheetUserID, 
      SheetTime, ProjectID, OrganizationID, 
      heji_zong, heji_xiaoji, heji_yiqian, 
      heji_bennian, heji_benci, daxie, 
      ReferenceID, Reason, PayConfirmTime, 
      PayConfirmUserID, SheetStatus)
    values (#{sheetcode,jdbcType=VARCHAR}, #{sheettype,jdbcType=VARCHAR},
      #{relatedcontractid,jdbcType=INTEGER}, #{thispaytimes,jdbcType=VARCHAR}, #{sheetuserid,jdbcType=INTEGER}, 
      #{sheettime,jdbcType=VARCHAR}, #{projectid,jdbcType=INTEGER}, #{organizationid,jdbcType=INTEGER}, 
      #{hejiZong,jdbcType=DECIMAL}, #{hejiXiaoji,jdbcType=DECIMAL}, #{hejiYiqian,jdbcType=DECIMAL}, 
      #{hejiBennian,jdbcType=DECIMAL}, #{hejiBenci,jdbcType=DECIMAL}, #{daxie,jdbcType=VARCHAR}, 
      #{referenceid,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, #{payconfirmtime,jdbcType=VARCHAR}, 
      #{payconfirmuserid,jdbcType=INTEGER}, #{sheetstatus,jdbcType=INTEGER})
  </insert>

  <!--   查询项目负责人审批的拨付单列表 -->
  <select id="selectSheetXiangmuByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.ProjectID in (select ProjectID from Aud_Project where ProjectManagerID = #{userid,jdbcType=INTEGER})
    and a.SheetStatus = 3
    order by a.SheetTime desc
  </select>

  <update id="updateAudSheetStatus" parameterType="com.ruoyi.audit.domain.AudSheet">
    update Aud_Sheet
    set  SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    where SheetID = #{sheetid,jdbcType=INTEGER}
  </update>


  <!--    查询部门负责人审批的拨付单列表 -->
  <select id="selectSheetBuMenByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.OrganizationID in (select dept_id from sys_dept  where manager_id = #{userid,jdbcType=INTEGER})
    and a.SheetStatus = 4
    order by a.SheetTime desc;
  </select>


  <!--    查询相关 处 审批的拨付单列表 -->
  <select id="selectSheetChuByUserid" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.SheetStatus = 5
    order by a.SheetTime desc;
  </select>

  <!--    查询分管所长审批的拨付单列表 -->
  <select id="selectSheetFenguansuoByUserid" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.SheetStatus = 6
    order by a.SheetTime desc;
  </select>


  <!--    查询所长审批的拨付单列表 -->
  <select id="selectSheetSuozhangByUserid" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    WHERE a.SheetType = '拨付单'
    and a.SheetStatus = 7
    order by a.SheetTime desc;
  </select>

  <update id="updateAudSheet" parameterType="com.ruoyi.audit.domain.AudSheet">
    update Aud_Sheet
    set SheetCode = #{sheetcode,jdbcType=VARCHAR},
      SheetType = #{sheettype,jdbcType=VARCHAR},
      RelatedContractID = #{relatedcontractid,jdbcType=INTEGER},
      ThisPayTimes = #{thispaytimes,jdbcType=VARCHAR},
      SheetUserID = #{sheetuserid,jdbcType=INTEGER},
      SheetTime = #{sheettime,jdbcType=VARCHAR},
      ProjectID = #{projectid,jdbcType=INTEGER},
      OrganizationID = #{organizationid,jdbcType=INTEGER},
      heji_zong = #{hejiZong,jdbcType=DECIMAL},
      heji_xiaoji = #{hejiXiaoji,jdbcType=DECIMAL},
      heji_yiqian = #{hejiYiqian,jdbcType=DECIMAL},
      heji_bennian = #{hejiBennian,jdbcType=DECIMAL},
      heji_benci = #{hejiBenci,jdbcType=DECIMAL},
      daxie = #{daxie,jdbcType=VARCHAR},
      ReferenceID = #{referenceid,jdbcType=VARCHAR},
      Reason = #{reason,jdbcType=VARCHAR},
      PayConfirmTime = #{payconfirmtime,jdbcType=VARCHAR},
      PayConfirmUserID = #{payconfirmuserid,jdbcType=INTEGER},
      SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    where SheetID = #{sheetid,jdbcType=INTEGER}
  </update>

  <select id="selectContractPaySheetByContractid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    where a.SheetStatus != 9 and  a.RelatedContractID = #{relatedcontractid,jdbcType=INTEGER}
    order by a.SheetID
  </select>

<!-- SheetStatus.ShenPiWanCheng.getCode() = 8-->
  <select id="selectContractPaySheetToAuditByContractid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectSheet"/>
    where a.SheetStatus != 9 and a.SheetStatus != 8 and  a.RelatedContractID = #{relatedcontractid,jdbcType=INTEGER}
    order by a.SheetID
  </select>

</mapper>