<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.audit.mapper.AudMessageMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.audit.domain.AudMessage">
        <id column="MessageID" jdbcType="INTEGER" property="messageid"/>
        <result column="MessageTitle" jdbcType="VARCHAR" property="messagetitle"/>
        <result column="MessageContent" jdbcType="VARCHAR" property="messagecontent"/>
        <result column="MessageTime" jdbcType="VARCHAR" property="messagetime"/>
        <result column="ToUserID" jdbcType="INTEGER" property="touserid"/>
        <result column="RelatedSheetType" jdbcType="VARCHAR" property="relatedsheettype"/>
        <result column="RelatedSheetID" jdbcType="INTEGER" property="relatedsheetid"/>
        <result column="ProcessedTime" jdbcType="VARCHAR" property="processedtime"/>
        <result column="IfProcessed" jdbcType="BIT" property="ifprocessed"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select MessageID,
               MessageTitle,
               MessageContent,
               MessageTime,
               ToUserID,
               RelatedSheetType,
               RelatedSheetID,
               ProcessedTime,
               IfProcessed
        from Aud_Message
        where MessageID = #{messageid,jdbcType=INTEGER}
    </select>

    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select MessageID,
               MessageTitle,
               MessageContent,
               MessageTime,
               ToUserID,
               RelatedSheetType,
               RelatedSheetID,
               ProcessedTime,
               IfProcessed
        from Aud_Message
        where IfProcessed = 0
          and ToUserID = #{userId}
        order by MessageTime desc
    </select>

    <insert id="insert" parameterType="com.ruoyi.audit.domain.AudMessage" useGeneratedKeys="true"
            keyProperty="messageid">

        insert into Aud_Message ( MessageTitle, MessageContent,
                                 MessageTime, ToUserID, RelatedSheetType,
                                 RelatedSheetID, ProcessedTime, IfProcessed)
        values ( #{messagetitle,jdbcType=VARCHAR}, #{messagecontent,jdbcType=VARCHAR},
                #{messagetime,jdbcType=VARCHAR}, #{touserid,jdbcType=INTEGER}, #{relatedsheettype,jdbcType=VARCHAR},
                #{relatedsheetid,jdbcType=INTEGER}, #{processedtime,jdbcType=VARCHAR}, #{ifprocessed,jdbcType=BIT})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.ruoyi.audit.domain.AudMessage">

        update Aud_Message
        set MessageTitle     = #{messagetitle,jdbcType=VARCHAR},
            MessageContent   = #{messagecontent,jdbcType=VARCHAR},
            MessageTime      = #{messagetime,jdbcType=VARCHAR},
            ToUserID         = #{touserid,jdbcType=INTEGER},
            RelatedSheetType = #{relatedsheettype,jdbcType=VARCHAR},
            RelatedSheetID   = #{relatedsheetid,jdbcType=INTEGER},
            ProcessedTime    = #{processedtime,jdbcType=VARCHAR},
            IfProcessed      = #{ifprocessed,jdbcType=BIT}
        where MessageID = #{messageid,jdbcType=INTEGER}
    </update>
    <update id="updateProcessedByIds" parameterType="List">
        update Aud_Message
        set
        ProcessedTime = getdate(),
        IfProcessed =1
        WHERE MessageID in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>


</mapper>