<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fourtech.mapper.AudFourtechMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.fourtech.domain.AudFourtech">

    <id column="FourTechID" jdbcType="INTEGER" property="fourtechid" />
    <result column="FourTechCode" jdbcType="VARCHAR" property="fourtechcode" />
    <result column="FourTechName" jdbcType="VARCHAR" property="fourtechname" />
    <result column="FourTechType" jdbcType="VARCHAR" property="fourtechtype" />
    <result column="ManagerID" jdbcType="INTEGER" property="managerid" />
    <result column="SheetUserID" jdbcType="INTEGER" property="sheetuserid" />
    <result column="SheetTime" jdbcType="VARCHAR" property="sheettime" />
    <result column="OrganizationID" jdbcType="INTEGER" property="organizationid" />
    <result column="TeamID" jdbcType="INTEGER" property="teamid" />
    <result column="FourTechMoney" jdbcType="DECIMAL" property="fourtechmoney" />
    <result column="daxie" jdbcType="VARCHAR" property="daxie" />
    <result column="CoperationUnit" jdbcType="VARCHAR" property="coperationunit" />
    <result column="BeginDate" jdbcType="VARCHAR" property="begindate" />
    <result column="EndDate" jdbcType="VARCHAR" property="enddate" />
    <result column="PassTime" jdbcType="VARCHAR" property="passtime" />
    <result column="IfTemplate" jdbcType="BIT" property="iftemplate" />
    <result column="SheetStatus" jdbcType="INTEGER" property="sheetstatus" />
    <result column="SheetUserIDLinkText" jdbcType="VARCHAR" property="sheetuseridlinktext" />
    <result column="ManagerIDLinkText" jdbcType="VARCHAR" property="manageridlinktext" />
    <result column="TeamIDLinkText" jdbcType="VARCHAR" property="teamidlinktext" />
    <result column="OrganizationIDLinkText" jdbcType="VARCHAR" property="organizationidlinktext" />
    <result column="SheetStatusLinkText" jdbcType="VARCHAR" property="sheetstatuslinktext" />
  </resultMap>

  <sql id="selectFourtech">
    SELECT a.FourTechID, a.FourTechCode, a.FourTechName, a.FourTechType, a.ManagerID
         , a.SheetUserID, a.SheetTime, a.OrganizationID, a.TeamID, a.FourTechMoney
         , a.daxie, a.CoperationUnit, a.BeginDate, a.EndDate, a.PassTime
         , a.IfTemplate, a.SheetStatus, t3.real_name AS SheetUserIDLinkText, t4.real_name AS ManagerIDLinkText, t5.TeamName AS TeamIDLinkText
         , t6.dept_name AS OrganizationIDLinkText, t13.dict_label AS SheetStatusLinkText
    FROM Aud_FourTech a
           JOIN sys_user t3 ON a.SheetUserID = t3.user_id
           LEFT JOIN sys_user t4 ON a.ManagerID = t4.user_id
           LEFT JOIN PM_Team t5 ON a.TeamID = t5.TeamID
           LEFT JOIN sys_dept t6 ON a.OrganizationID = t6.dept_id
           JOIN ( SELECT * FROM sys_dict_data   WHERE dict_type = '四技合同状态' ) t13 ON  a.SheetStatus = t13.dict_value
  </sql>

  <!--   查询经办人经办过的列表 -->
  <select id="selectFourtechTijiaorenByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE a.SheetUserID = #{sheetuserid,jdbcType=INTEGER}
    and  a.SheetStatus != 9
    order by a.SheetTime desc
  </select>


  <!--   查询我的审核的列表 -->
  <select id="selectFourtechAuditedByUserid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select b.FourTechID, b.FourTechType,b.SheetTime, c.real_name AS SheetUserIDLinkText, b.FourTechName, b.FourTechMoney, b.CoperationUnit,d.dict_label AS SheetStatusLinkText
    from Aud_SheetAuditRecord a left join Aud_FourTech b
    on a.SheetID = b.FourTechID
    left join sys_user c  on b.SheetUserID = c.user_id
    left join (select * from sys_dict_data where dict_type='四技合同状态') d on b.SheetStatus = d.dict_value
    where AuditUserID = #{sheetuserid,jdbcType=INTEGER} and SheetType='四技合同' order by a.AuditTime desc
  </select>

  <select id="selectFourtechTijiaoren" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE a.SheetUserID = #{sheetuserid,jdbcType=INTEGER}
    <if test="fourtechname != null and fourtechname != '' ">
      and a.fourtechname like concat('%', #{fourtechname,jdbcType=VARCHAR}, '%')
    </if>
    and  a.SheetStatus != 9
    order by a.SheetTime desc
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Feb 24 14:42:05 CST 2021.
    -->
    delete from Aud_FourTech
    where FourTechID = #{fourtechid,jdbcType=INTEGER}
  </delete>
  <insert id="insertFourtech" parameterType="com.ruoyi.fourtech.domain.AudFourtech"  useGeneratedKeys="true"
          keyProperty="fourtechid" >
    insert into Aud_FourTech ( FourTechCode, FourTechName,
      FourTechType, ManagerID, SheetUserID, 
      SheetTime, OrganizationID, TeamID, 
      FourTechMoney, daxie, CoperationUnit, 
      BeginDate, EndDate, PassTime, 
      IfTemplate, SheetStatus)
    values ( #{fourtechcode,jdbcType=VARCHAR}, #{fourtechname,jdbcType=VARCHAR},
      #{fourtechtype,jdbcType=VARCHAR}, #{managerid,jdbcType=INTEGER}, #{sheetuserid,jdbcType=INTEGER}, 
      #{sheettime,jdbcType=VARCHAR}, #{organizationid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, 
      #{fourtechmoney,jdbcType=DECIMAL}, #{daxie,jdbcType=VARCHAR}, #{coperationunit,jdbcType=VARCHAR}, 
      #{begindate,jdbcType=VARCHAR}, #{enddate,jdbcType=VARCHAR}, #{passtime,jdbcType=VARCHAR}, 
      #{iftemplate,jdbcType=BIT}, #{sheetstatus,jdbcType=INTEGER})
  </insert>
  <update id="updateFourtech" parameterType="com.ruoyi.fourtech.domain.AudFourtech">
    update Aud_FourTech
    set FourTechCode = #{fourtechcode,jdbcType=VARCHAR},
      FourTechName = #{fourtechname,jdbcType=VARCHAR},
      FourTechType = #{fourtechtype,jdbcType=VARCHAR},
      ManagerID = #{managerid,jdbcType=INTEGER},
      SheetUserID = #{sheetuserid,jdbcType=INTEGER},
      SheetTime = #{sheettime,jdbcType=VARCHAR},
      OrganizationID = #{organizationid,jdbcType=INTEGER},
      TeamID = #{teamid,jdbcType=INTEGER},
      FourTechMoney = #{fourtechmoney,jdbcType=DECIMAL},
      daxie = #{daxie,jdbcType=VARCHAR},
      CoperationUnit = #{coperationunit,jdbcType=VARCHAR},
      BeginDate = #{begindate,jdbcType=VARCHAR},
      EndDate = #{enddate,jdbcType=VARCHAR},
      PassTime = #{passtime,jdbcType=VARCHAR},
      IfTemplate = #{iftemplate,jdbcType=BIT}
    where FourTechID = #{fourtechid,jdbcType=INTEGER}
  </update>

  <update id="updateFourtechStatus" parameterType="com.ruoyi.fourtech.domain.AudFourtech">
    update Aud_FourTech
    set
    <if test="passtime != null ">
      passtime = #{passtime,jdbcType=VARCHAR},
    </if>
    SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    where FourTechID = #{fourtechid,jdbcType=INTEGER}
  </update>

  <select id="selectFourtechById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    where FourTechID = #{fourtechid,jdbcType=INTEGER}
  </select>


  <select id="selectFourtechChushen" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE
     a.SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>


  <select id="selectFourtechXiangmu" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE
    a.SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    and a.managerid =  #{sheetuserid,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>

  <select id="selectFourtechBumen" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE
    a.SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>

  <select id="selectFourtechChu" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE
    a.SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>


  <select id="selectFourtechSuozhang" parameterType="com.ruoyi.fourtech.domain.AudFourtech" resultMap="BaseResultMap">
    <include refid="selectFourtech"/>
    WHERE
    a.SheetStatus = #{sheetstatus,jdbcType=INTEGER}
    order by a.SheetTime desc
  </select>
</mapper>